<div class="row">
  <div class="form-group col-md-6">
    <label for="car_appearance" class="col-md-4 control-label">外观</label>
    <div class="col-md-9 inputBox">
      <div class="dropdown w100p">
        <select name="post[outer_color]" class="form-control input-sm" id="car_appearance">
          <%- @base_car.outer_color.each do |ele| %>
            <%- if @post && @post.outer_color == ele %>
              <option value="<%= ele %>" selected="selected"><%= ele %></option>
            <% else %>
              <option value="<%= ele %>"><%= ele %></option>
            <% end %>
          <% end %>
          <option value="set_outer_color">自定义</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="car_interior" class="col-md-4 control-label">内饰</label>
    <div class="col-md-9 inputBox">
      <div class="dropdown w100p">
        <select name="post[inner_color]" class="form-control input-sm" id="car_interior">
          <%- @base_car.inner_color.each do |ele| %>
            <%- if @post && @post.inner_color == ele %>
              <option value="<%= ele %>" selected="selected"><%= ele %></option>
            <% else%>
              <option value="<%= ele %>"><%= ele %></option>
            <% end %>
          <% end %>
          <option value="set_inner_color">自定义</option>
        </select>
      </div>
    </div>
  </div>
</div>
<%= render 'resource_select' %>

<div class="methodSelect row">
  <div class="tt clearfix">
    <h5 class="col-md-6">报价方式</h5>
    <h5 class="col-md-6">指导价：<span id="guidePrice"><%= @base_car.base_price.to_f %></span>万</h5>
  </div>
  <%- Post::DISCOUNT_WAYS.each do |k, v| %>
    <div class="form-group form-inline col-md-6">
      <label class="radio selectTag">
        <%- if @post && @post.discount_way == k %>
          <input type="radio" name="post[discount_way]" id="methodRadios<%= k %>" value=<%= k %> checked='checked'><span><%= v %></span>
        <% else %>
          <input type="radio" name="post[discount_way]" id="methodRadios<%= k %>" value=<%= k %>><span><%= v %></span>
        <% end %>
      </label>
      <%- unless k == 5 %>
        <label class="selectInput">
          <%- if @post && @post.discount_way == k %>
            <input type="text" class="form-control input-sm" id="methodVal<%= k %>" placeholder="" disabled="true" name="post[discount_content]", value=<%= @post.discount_way.to_f %>>
          <% else %>
            <input type="text" class="form-control input-sm" id="methodVal<%= k %>" placeholder="" disabled="true" name="post[discount_content]" value="0">
          <% end %>
          <div class="units"><%= k == 1 ? '点数' : '万元' %></div>
        </label>
      <% end %>
    </div>
  <% end %>
</div>
