<div class="row">
  <div class="form-group col-md-6">
    <label for="car_appearance" class="col-md-4 control-label">外观</label>
    <div class="col-md-9 inputBox">
      <div class="dropdown w100p">
        <select name="post[outer_color]" class="form-control input-sm" id="car_appearance">
          <%- @base_car.outer_color.each do |ele| %>
          <option value="<%= ele %>"><%= ele %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="car_interior" class="col-md-4 control-label">内饰</label>
    <div class="col-md-9 inputBox">
      <div class="dropdown w100p">
        <select name="post[inner_color]" class="form-control input-sm" id="car_interior">
          <%- @base_car.inner_color.each do |ele| %>
          <option value="<%= ele %>"><%= ele %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-6">
    <label for="car_status" class="col-md-4 control-label">状态</label>
    <div class="col-md-9 inputBox">
      <div class="dropdown w100p">
        <select name="post[resource_type]" class="form-control input-sm" id="car_date">
          <%- Post::RESOURCE_TYPE.each do |k, v|%>
          <option value="<%= k %>"><%= v %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="methodSelect row">
        <div class="tt clearfix">
          <h5 class="col-md-6">报价方式</h5>
          <h5 class="col-md-6">指导价：<span id="guidePrice">39.68</span>万</h5>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios1" value="option1"><span>优惠点数</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal1" placeholder="" disabled="true">
            <div class="units">点数</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios2" value="option2"><span>优惠金额</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal2" placeholder="" disabled="true">
            <div class="units">万元</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios3" value="option3"><span>加价金额</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal3" placeholder="" disabled="true">
            <div class="units">万元</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios4" value="option4"><span>直接报价</span>
          </label>
          <label class="selectInput">
            <input type="text" class="form-control input-sm" id="methodVal4" placeholder="" disabled="true">
            <div class="units">万元</div>
          </label>
        </div>
        <div class="form-group form-inline col-md-6">
          <label class="radio selectTag">
            <input type="radio" name="methodRadios" id="methodRadios5" value="option5"><span>暂不报价</span>
          </label>
        </div>
      </div>
