<div class="container">
  <ol class="breadcrumb">
    <li><a href=<%= root_path%>>首页</a></li>
    <li class="active"><%= @post._type == 1 ? '发布寻车' : '发布资源' %></li>
  </ol>
</div>
<div class="container">
	<div class="row">
    <div class="col-md-9 mainBox">
			<%= render partial: "form_#{@post._type}" %>
		</div>
		<div class="col-md-3 mainRight">
			<%= render partial: 'partials/right_mine', locals: {hidden_button: false} %>
      <%= render partial: 'partials/right_search' %>
		</div>
	</div>
</div>
