<div class="panel panel-default contentBox">
  <div class="panel-heading lineTitle">
    <h3 class="panel-title">您关注的<a href="#" class="link"><%= @follows.count %></a>位好友也关注了他</h3>
  </div>
  <div class="panel-body">
    <ul class="followList">
      <%- @follows.each do |u| %>
        <li class="clearfix first">
          <div class="photo bfL"><a href=<%= user_list_posts_path(user_id: u.id, _type: 0) %>><%= image_tag(u.avatar, alt: "", width: "100%")%></a></div>
          <div class="detail">
            <h5 class="name"><a href=<%= user_list_posts_path(user_id: u.id, _type: 0) %>><%= u.name_area %></a></h5>
            <p class="tel">手机：<%= u.mobile %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
