<div class="panel panel-default contentBox bgf8">
	<div class="panel-body indexUser">
		<div class="userInfo clearfix">
			<div class="photo bfL"><a href="#"><%= image_tag(@someone.avatar, alt: "", size: '78x78')%></a></div>
			<div class="name">
				<h5><%= @someone.name_area %></h5>
				<div class="clearfix"><span class="tag"><%= image_tag(@someone.level_icon, alt: "", width: "100%") if @someone.is_show_icon?%></span></div>
        <div id='following'>
        <% if current_user and !current_user.following?@someone%>
          <%= link_to add_following_users_path(id: @someone.id), class: 'btn btn-success btn-xs mt6', id: 'add-following', role: 'button', method: :patch, remote: true do %>
           <span class="glyphicon glyphicon-plus"></span>
           加关注
          <% end -%>
        <% elsif current_user and current_user.following?@someone %>
          <span>已关注</span>
        <% end -%>
      </div>
			</div>
		</div>
		<div class="userDetail">
			<p>自我评价：<span><%= @someone.contact['self_introduction'] %></span></p>
			<p>注册地：<span><%= @someone.area_name %></span></p>
			<p><strong><%= @someone.last_month_dealt %></strong></p>
			<p><strong><%= @someone.sum_dealt %></strong></p>
			<p>公司名称：<span><%= @someone.company %></span></p>
			<p>职位：<span><%= @someone.contact['company_address']%></span></p>
			<p>微信：<span><%= @someone.contact['wx']%></span></p>
			<p>QQ：<span><%= @someone.contact['qq']%></span></p>
			<p>联系电话：<span><%= @someone.mobile %></span></p>
		</div>
		<div class="userArr"><span class="icon icon-user"></span></div>
	</div>
</div>
