.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 历史系统通知

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tr
          %th ID
          %th 标题
          %th 发送人
          %th 接收者
          %th 状态
          %th 发送时间
          %th 操作
        - @messages.each do |item|
          %tr
            %td= item.id
            %td= item.title
            %td= item.sender.name
            %td= item.receiver.name
            %td= item.status
            %td= item.created_at.to_s(:db)
            %td
              = link_to '删除', '#'
              &nbsp;&nbsp;
              = link_to '重发', '#'


      - if @messages.present?
        .hr-line-dashed

      .text-center
        = paginate @messages