<div class="col-md-2 accountsMenu">
  <h5 class="title"><span class="tt"><%= t('account_manage') %></span></h5>
  <ul class="list">
    <li><a href="#"><span class="icon icon-userInfo"></span><%= t('custom_info') -%></a></li>
    <li class="active"><a href="<%= my_level_user_path(current_user)%>"><span class="icon icon-level"></span><%= t('level_recon') -%></a></li>
    <li><a href="<%= edit_user_password_path(current_user)%>"><span class="icon icon-pw"></span><%= t('password_change') -%></a></li>
    <li><a href="#"><span class="icon icon-logo"></span><%= t('about_us') -%></a></li>
    <li><a href="<%= destroy_user_session_path(:html, current_user)%>"><span class="icon icon-quit"></span><%= t('safe_logout') -%></a></li>
  </ul>
</div>