<div class="container accountsSetting">
  <div class="row">
    <div class="col-md-2 accountsMenu">
      <h5 class="title"><span class="tt"><%= t('account_manage') %></span></h5>
      <ul class="list">
        <li class='active'><a href="<%= edit_user_path(current_user)%>"><span class="icon icon-userInfo"></span><%= t('custom_info') -%></a></li>
        <li><a href="<%= my_level_user_path(current_user)%>"><span class="icon icon-level"></span><%= t('level_recon') -%></a></li>
        <li><a href="<%= edit_user_password_path(current_user)%>"><span class="icon icon-pw"></span><%= t('password_change') -%></a></li>
        <li><a href="<%= about_us_user_path(current_user)%>"><span class="icon icon-logo"></span><%= t('about_us') -%></a></li>
        <li><a href="<%= destroy_user_session_path() %>" data-method='delete'><span class="icon icon-quit"></span><%= t('safe_logout') -%></a></li>
      </ul>
    </div>
    <%= form_for current_user, as: :user, url: user_path(current_user), method: :put, html: { multipart: true } do |f| -%>
    <div class="col-md-10 accountsMain">
      <h5 class="title"><%= t('custom_setting') -%></h5>
      <div class="row">
        <div class="col-md-3 photoArea">
          <div class="photo show-img"><%= image_tag(current_user.avatar, alt: "", width: "180", height: "180", id: 'show-img')%></div>
          <div class="tips">你可以选择png/jpg图片(180*180)作为头像</div>
          <div class="fileInput">
            <div class="fileBtn">修改头像
              <%= file_field_tag :_image, value: current_user.avatar, type: :file, multiple: true, class: 'button', accept: 'image/png,image/gif,image/jpeg, image/jpg', 'target-id' => 'show-img' -%>
              <%= hidden_field_tag :_type, 'avatar' -%>
            </div>
          </div>
        </div>
        <div class="col-md-9 formArea">
           <%= f.hidden_field :role, value: current_user.role %>
            <div class="box">
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">姓　　名：</label>
                <div class="col-sm-10 prl0">
                  <%= f.text_field :name, class: 'form-control', id: '', placeholder: '输入不得超过6个字符', required: 'required', maxlength: '6' %>
                  <span class="help-block with-errors"></span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">注&nbsp;&nbsp;册&nbsp;&nbsp;地：</label>
                <div class="col-sm-10 prl0">
                  <div class="row ptb0 mrl-15">
                    <div class="dropdown col-md-6">
                     <%= select_tag 'province', options_for_select(areas(level: :provinces), selected: current_user.area.parent.id), {class: 'form-control', id: 'province', prompt: '请选择省份', required: 'required'} -%>
                     <span class="help-block with-errors"></span>
         			      </div>
                    <div class="dropdown col-md-6">
                     <%= f.select :area_id, options_for_select([[current_user.area.name, current_user.area.id]]), { prompt: '请选择城市' }, {class: 'form-control', id: 'city', required: 'required'} %>
                     <span class="help-block with-errors"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">自我评价：</label>
                <div class="col-sm-10 prl0">
                  <%= f.fields_for :contact do |c_f| %>
                   <%= c_f.text_field 'self_introduction', class: 'form-control', placeholder: '输入不得超过12个字符', maxlength: '12', value: current_user.contact["self_introduction"] -%>
                  <% end -%>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">认证等级：</label>
                <div class="col-sm-10 prl0">
                  <div class="levelIcon bfL"><%= image_tag(current_user.level_icon, alt: "", width: "100%") if current_user.try(:is_show_icon?) %></div>
                  <a href="<%= my_level_user_path(current_user)%>" class="btn btn-default orange bfR"><span class="icon icon-upgrade"></span>升级</a>
                </div>
              </div>
            </div>
            <div class="box last">
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">公司名称：</label>
                <div class="col-sm-10 prl0">
                  <%= f.text_field :company, class: 'form-control', placeholder: '输入不得超过14个字符', maxlength: '14', required: 'required' -%>
                  <span class="help-block with-errors"></span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">公司地址：</label>
                <div class="col-sm-10 prl0">
                  <%= f.fields_for :contact do |c_f|%>
                    <%= c_f.text_field 'company_address', class: 'form-control', placeholder: '', value: current_user.contact["company_address"] -%>
                  <% end -%>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">职务抬头：</label>
                <div class="col-sm-10 prl0">
                  <%= f.fields_for :contact do |c_f|%>
                    <%= c_f.text_field 'position_header', class: 'form-control', placeholder: '输入不得超过6个字符', maxlength: '6', value: current_user.contact["position_header"] -%>
                  <%end-%>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">联系电话：</label>
                <div class="col-sm-10 prl0">
                  <%= text_field_tag 'mobile',current_user.mobile, class: 'form-control', disabled: true-%>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">微&nbsp;&nbsp;信&nbsp;&nbsp;号：</label>
                <div class="col-sm-10 prl0">
                  <%= f.fields_for :contact do |c_f|%>
                    <%= c_f.text_field 'wx', class: 'form-control',value: current_user.contact["wx"]  -%>
                  <%end-%>
                </div>
              </div>

              <div class="form-group clearfix">
                <label for="" class="col-sm-2 control-label">QQ：</label>
                <div class="col-sm-10 prl0">
                  <%= f.fields_for :contact do |c_f|%>
                    <%= c_f.text_field 'qq', class: 'form-control',value: current_user.contact["qq"] -%>
                  <% end-%>
                </div>
              </div>

            </div>
            <div class="txtC">
              <%= f.submit t('commit'), class: 'btn btn-default orange' -%>
              <input type="reset" class="btn btn-default" value="放弃" />
            </div>
            <% end-%>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    $('.button').on('change', function(){
      var targetId = $(this).attr('target-id');

      if(this.files && this.files[0]){

        var reader = new FileReader();
        reader.onload = function(e){
          $('#show-img').attr('src', e.target.result);
        };
        reader.readAsDataURL(this.files[0]);
      }
    });
});
</script>

<%= content_for :footers do %>
  <%= javascript_include_tag 'edit_user', 'data-turbolinks-track' => true %>

<% end -%>
