<div class="container accountsSetting">
  <div class="row">
    <div class="col-md-2 accountsMenu">
      <h5 class="title"><span class="tt"><%= t('account_manage') %></span></h5>
      <ul class="list">
        <li><a href="<%= edit_user_path(current_user)%>"><span class="icon icon-userInfo"></span><%= t('custom_info') -%></a></li>
        <li class="active"><a href="<%= my_level_user_path(current_user)%>"><span class="icon icon-level"></span><%= t('level_recon') -%></a></li>
        <li><a href="<%= edit_user_password_path(current_user)%>"><span class="icon icon-pw"></span><%= t('password_change') -%></a></li>
        <li><a href="<%= about_us_user_path(current_user)%>"><span class="icon icon-logo"></span><%= t('about_us') -%></a></li>
        <li><a href="<%= destroy_user_session_path(:html, current_user)%>" data-method='delete'><span class="icon icon-quit"></span><%= t('safe_logout') -%></a></li>
      </ul>
    </div>
    <div class="col-md-10 accountsMain">
      <h5 class="title"><%= t('level_upgrade') -%></h5>
      <div class="panel panel-default levelBox">
        <ul role="tablist" class="nav nav-tabs carInfoTabs noBg">
          <li role="presentation" class="active"><a href="#tabpanel1"><%= t('saler_recon')%>
          </a>
        </li>
          <li role="presentation"><a href="#tabpanel2"><%= t('4s_recon')%>
          </a>
        </li>
        </ul>
        <div class="panel-body">
          <div role="tabpanel" class="levelProcess clearfix tab-pane active" id="tabpanel1">
            <div class="col-md-3 process">
              <p>个人手机（认证）<span class="next_arr"></span></p>
              <p>个人身份（认证）<span class="next_arr"></span></p>
              <p>资源公司（认证）<span class="next_arr"></span></p>
              <p>综合展厅（认证）<span class="next_arr_r"></span></p>
            </div>
            
            <div class="col-md-3 level">
              <% user_level_icons(current_user).each do |icon| %>
                <p><span class="levelIcon bfL">
                  <%= image_tag(icon, alt: "", width: "100%") if current_user.is_show_icon? %>
                </span>
              </p>
              <% end -%>
            </div>
            
            <div class="col-md-6 status">
              <% 4.times do |i|%>
                <% if current_user.level >= i or current_user ==  User::LEVELS.keys[4]%>
                  <p><span class="icon_done"><%= image_tag("icon_done.png", alt: "")%></span><%= t('completed')%></p>
                <% else %>
                  <p><a class="btn btn-default black" href="<%= edit_my_level_user_path(current_user, level: User::LEVELS.keys[i]) %>" role="button"><span class="icon icon-upgrade"></span><%= t('upgrade') -%></a></p>
                <% end -%>
            <% end -%>  
            </div>
          </div>
          
          <div role="tabpanel" class="levelProcess clearfix tab-pane" id="tabpanel2">
            <div class="col-md-3 process">
              <p>个人手机（认证）<span class="next_arr"></span></p>
              <p>4s（认证）</p>
            </div>
            <div class="col-md-3 level">
             <% recon_icons(current_user).each do |icon| %>
               <p><span class="levelIcon bfL">
                 <%= image_tag(icon, alt: "", width: "100%")%>
               </span>
             </p>
             <% end -%>
            </div>
            <div class="col-md-6 status">
              <p><span class="icon_done"><%= image_tag("icon_done.png", alt: "")%></span><%= t('completed')%></p>
              <% unless current_user.can_upgrade_4s %>
              <p><span class="icon_done"><%= image_tag("icon_done.png", alt: "")%></span><%= t('completed')%></p>
              <% else %>
              <p>
                <a class="btn btn-default black" href="<%= edit_my_level_user_path(current_user, level: User::LEVELS.keys[4]) %>" role="button"><span class="icon icon-upgrade"></span><%= t('upgrade') -%></a>
              </p>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
