<div class="container accountsSetting">
  <div class="row">
    <div class="col-md-2 accountsMenu">
      <h5 class="title"><span class="tt"><%= t('account_manage') %></span></h5>
      <ul class="list">
        <li><a href="#"><span class="icon icon-userInfo"></span><%= t('custom_info') -%></a></li>
        <li class="active"><a href="#"><span class="icon icon-level"></span><%= t('level_recon') -%></a></li>
        <li><a href="#"><span class="icon icon-pw"></span><%= t('change_password') -%></a></li>
        <li><a href="#"><span class="icon icon-logo"></span><%= t('about_us') -%></a></li>
        <li><a href="#"><span class="icon icon-quit"></span><%= t('safe_logout') -%></a></li>
      </ul>
    </div>
    <div class="col-md-10 accountsMain">
      <h5 class="title"><%= t('level_upgrade') -%></h5>
      <div class="panel panel-default levelBox">
        <ul role="tablist" class="nav nav-tabs carInfoTabs noBg">
          <li role="presentation" class="active"><a href="#tabpanel1">经销商认证流程</a></li>
          <li role="presentation"><a href="#tabpanel2">4S店认证流程</a></li>
        </ul>
        <div class="panel-body">
          <div role="tabpanel" class="levelProcess clearfix tab-pane active" id="tabpanel1">
            <div class="col-md-3 process">
              <p>个人手机（认证）<span class="next_arr"></span></p>
              <p>个人身份（认证）<span class="next_arr"></span></p>
              <p>资源公司（认证）<span class="next_arr"></span></p>
              <p>综合展厅（认证）<span class="next_arr_r"></span></p>
            </div>
            <div class="col-md-3 level">
              <p><%= image_tag("user/icon_vip1.png", alt: "")%></p>
              <p><%= image_tag("user/icon_vip2.png", alt: "")%></p>
              <p><%= image_tag("user/icon_vip3_dis.png", alt: "")%></p>
              <p><%= image_tag("user/icon_vip4_dis.png", alt: "")%></p>
            </div>
            <div class="col-md-6 status">
              <p><span class="icon_done"><%= image_tag("icon_done.png", alt: "")%></span><%= t('completed')%></p>
              <p><span class="icon_done"><%= image_tag("icon_done.png", alt: "")%></span><%= t('completed')%></p>
              <p><a class="btn btn-default black" href="#" role="button"><span class="icon icon-upgrade"></span><%= t('upgrade') -%></a></p>
              <p><a class="btn btn-default black" href="#" role="button"><span class="icon icon-upgrade"></span><%= t('upgrade') -%></a></p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabpanel2">
            暂无数据
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
