<%= render partial: 'partials/personal_center_head' %>

<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <ul role="tablist" class="nav nav-tabs carInfoTabs sm">
          <li role="presentation" class="active"><a href="#tabpanel1"><%= t('undone')%></a></li>
          <li role="presentation"><a href="#tabpanel2"><%= t('done')%></a></li>
        </ul>
        <div class="panel-body">
          <div role="tabpanel" class="tab-pane active" id="tabpanel1">
            <div class="sourceTab">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                <thead>
                  <tr>
                    <th width="30%">品牌/车型</th>
                    <th width="12%">报价(万元)</th>
                    <th width="12%">上牌地点</th>
                    <th width="12%">外观/内饰</th>
                    <th width="18%">发布人</th>
                    <th width="10%">发布时间</th>
                    <th width="6%">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <% @uncompleted_tenders.each do |tender|%>
                    <tr>
                      <td><a href="#" class="name"><%= tender.post_title %></a></td>
                      <td><span class="num"><%= tender.price %></span></td>
                      <td><%= tender.post_car_license_areas -%></td>
                      <td><%= tender.post_color -%></td>
                      <td><%= tender.post.try(:user_name) -%>
                          <%= image_tag(tender.post.user.level_icon, size: '50x20') -%>
                      </td>
                      <td><%= human_time(tender.updated_at) %></td>
                      <td><a href="#" class="del cancelBtn" data-id="<%= tender.id %>" data-type="tenders" data-clazz="tender" data-update='tenders'>删除
                          </a>
                      </td>
                    </tr>
                  <% end -%>
                </tbody>
              </table>
            </div>
            <div class="pageList">
              <%= paginate @uncompleted_tenders %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabpanel2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <thead>
                <tr>
                  <th width="30%">品牌/车型</th>
                  <th width="12%">报价(万元)</th>
                  <th width="12%">上牌地点</th>
                  <th width="12%">外观/内饰</th>
                  <th width="18%">发布人</th>
                  <th width="10%">发布时间</th>
                  <th width="6%">操作</th>
                </tr>
              </thead>
              <tbody>
                <% @completed_tenders.each do |tender|%>
                  <tr>
                    <td><a href="#" class="name"><%= tender.post_title %></a></td>
                    <td><span class="num"><%= tender.price %></span></td>
                    <td><%= tender.post_car_license_areas -%></td>
                    <td><%= tender.post_color -%></td>
                    <td><%= tender.post.try(:user_name) %>
                        <%= image_tag(tender.post.user.level_icon, size: '50x20') %>
                    </td>
                      
                    <td><%= human_time(tender.updated_at) %></td>
                    <td><a href="#" class="del cancelBtn" data-id="<%= tender.id %>" data-type="tenders" data-clazz="tender" data-update='tenders'>删除</a></td>
                  </tr>
                <% end -%>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
    
    <div class="col-md-3 mainRight">
      <%= render partial: 'partials/right_search' -%>
    </div>
    
  </div>
</div>

<%= content_for :footers do  %>
  <%= javascript_include_tag 'edit_user' -%>
<% end -%>
