<%= render partial: 'partials/personal_center_head' %>

<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <ul role="tablist" class="nav nav-tabs carInfoTabs sm">
          <li role="presentation" class="active"><a href="#tabpanel1"><%= t('undone') -%></a></li>
          <li role="presentation"><a href="#tabpanel2"><%= t('done')%></a></li>
        </ul>
        <div class="panel-body">
          <div role="tabpanel" class="tab-pane active" id="tabpanel1">
            <div class="sourceTab">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                <thead>
                  <tr>
                    <th width="30%">品牌/车型</th>
                    <th width="13%">报价人数(人)</th>
                    <th width="13%">上牌地点</th>
                    <th width="24%">外观/内饰</th>
                    <th width="14%">发布时间</th>
                    <th width="6%">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <%- @uncompleted_posts.each do |post| %>
                    <tr>
                      <td><%= link_to post.title, user_my_post_path(current_user, post), class: 'name' %></td>
                      <td><span class="num"><%= post.tenders.count %></span></td>
                      <td><%= post.car_license_areas %></td>
                      <td><%= post.color %></td>
                      <td><%= post.publish_time %></td>
                      <td><%= link_to '删除', user_my_post_path(current_user, post), method: :delete, class: 'del' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <%= paginate @uncompleted_posts %>
            <nav>
              <!-- <ul class="pagination pageList">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">…</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
              </ul> -->
            </nav>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabpanel2">
            <div class="sourceTab">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                <thead>
                  <tr>
                    <th width="40%">品牌/车型</th>
                    <th width="16%">报价人数(人)</th>
                    <th width="14%">上牌地点</th>
                    <th width="14%">外观/内饰</th>
                    <th width="10%">发布时间</th>
                    <th width="6%">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <%- @completed_posts.each do |post| %>
                    <tr>
                      <td><%= link_to post.title, user_my_post_path(current_user, post), class: 'name' %></td>
                      <td><span class="num"><%= post.tenders.count %></span></td>
                      <td><%= post.car_license_areas %></td>
                      <td><%= post.color %></td>
                      <td><%= post.publish_time %></td>
                      <td><%= link_to '删除', user_my_post_path(current_user, post), method: :delete, class: 'del' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <%= paginate @completed_posts %>
            <nav>
            </nav>
          </div>
        </div>
      </div>
    </div>
    
    <%= render partial: 'partials/search'%>
  </div>
</div>
