.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 车型库

.wrapper.wrapper-content.animated.fadeInRight
  = link_to '规格列表', st_list_admin_base_cars_path
  = link_to '品牌列表', br_list_admin_base_cars_path
  = link_to '车型列表', cm_list_admin_base_cars_path
  = link_to '新建车款', new_admin_base_car_path
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tr
          %th ID
          %th 规格
          %th 品牌
          %th 车型
          %th 车款
          %th 外饰
          %th 内饰
          %th 指导价/万
          %th 地区
          %th 操作
        - @base_cars.each do |bc|
          %tr
            %td= bc.id
            %td= bc.standard_name
            %td= bc.brand_name
            %td= bc.car_model_name
            %td= bc.style
            %td= bc.outer_color.join(' ')
            %td= bc.inner_color.join(' ')
            %td= bc.base_price.to_f
            %td= bc.brand.regions.join(' ')
            %td
              = link_to '编辑', edit_admin_base_car_path(bc), target: '_blank'
              = link_to '关闭', ''

      - if @base_cars.present?
        .hr-line-dashed

      .text-center
        = paginate @base_cars


