<div class="panel panel-default contentBox bgf9">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= I18n.t('hot_resources') %></h3>
	</div>
	<div class="panel-body">
		<ul class="row hotCar">
			<%- @hot_resources.each do |post| %>
				<li class="col-md-3">
					<div class="thumbnail box">
						<a href="#"><%= image_tag(post.photos[:front], alt: "", width: "100%")%></a>
						<div class="caption intro">
							<h5 class="name"><%= post.portal_resource_title %></h5>
							<p class="price"><%= post.expect_price.to_f %>万元</p>
							<p><%= post.user_company %></p>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
		<div class="moreLink text-right"><%= link_to '更多 >>', posts_path(_type: 0) %></div>
	</div>
</div>
