<div class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('new_resources') %></h3>
	</div>
	<div class="panel-body">
		<ul class="newSourceIcon clearfix">
			<%- @hot_brands.each do |brand| %>
				<li>
					<a href="<%= posts_path(brand_id: brand.id, _type: 0) %>">
						<p><%= image_tag(brand.car_photo.try(:image).try(:thumb), alt: "") %></p>
						<p><%= brand.name %></p>
					</a>
			</li>
			<% end %>
		</ul>
		<div class="sourceTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="30%">品牌/车型</th>
						<th width="12%">报价(万元)</th>
						<th width="13%">状态</th>
						<th width="20%">发布人</th>
						<th width="15%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<%- @newest_resouces.each do |post| %>
					<tr>
						<td><%= link_to post.brand_model_name, post_path(post, _type: 0), class: 'name' %></td>
						<td><span class="price"><%= post.expect_price.to_f %></span></td>
						<td><%= post.standard_resource_type %></td>
						<td><%= post.user_name %></td>
						<td><%= link_to '浏览', user_list_posts_path(user_id: post.user_id, _type: 0) %><span class="sepLine">|</span><a href="#">下载</a></td>
						<td><%= post.publish_time %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="moreLink text-right"><%= link_to '更多 >>', posts_path(_type: 0) %></div>
	</div>
</div>
