<div class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('new_resources') %></h3>
	</div>
	<div class="panel-body">
		<ul class="newSourceIcon clearfix">
			<%- @hot_brands.each do |brand| %>
				<li>
					<a href="<%= resources_list_posts_path(br: brand.id) %>">
						<p><%= image_tag(brand.car_photo.try(:image).try(:thumb), alt: "") %></p>
						<p><%= brand.name %></p>
					</a>
			</li>
			<% end %>
		</ul>
		<div class="sourceTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="34%">品牌/车型</th>
						<th width="12%">报价(万元)</th>
						<th width="18%">状态</th>
						<th width="14%">发布人</th>
						<th width="12%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<%- @newest_resouces.each do |post| %>
					<tr>
						<td><%= link_to post.title, post_path(post, _type: 0), class: 'name' %></td>
						<td><span class="price"><%= post.show_price %></span></td>
						<td><%= post.standard_resource_type %></td>
						<td>
							<span class="tag"><%= image_tag(post.user_level_icon, alt: "", width: "100%") if current_user.try(:is_show_icon?) %></span>
							<span><%= link_to post.owner, user_list_posts_path(user_id: post.user_id, _type: 0), class: 'name' %></span>
						</td>
						<td>
							<%= link_to '浏览', user_list_posts_path(user_id: post.user_id, _type: 0) %>
							<span class="sepLine">|</span>
							<%= link_to '下载', download_posts_posts_path(user_id: post.user_id) %>
						</td>
						<td><%= post.publish_time %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="moreLink text-right"><%= link_to '更多 >>', posts_path(_type: 0) %></div>
	</div>
</div>
