<div class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('new_resources') %></h3>
	</div>
	<div class="panel-body">
		<div class="newCarSelect">
			<div class="btn-group mr20">
				<select name="" class="form-control">
					<option value="公司">公司</option>
					<option value="个人">个人</option>
				</select>
			</div>
			<div class="btn-group">
				<select name="" class="form-control">
					<option value="品牌1">品牌1</option>
					<option value="品牌2">品牌2</option>
					<option value="品牌3">品牌3</option>
				</select>
			</div>
		</div>
		<div class="sourceTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="30%">品牌/车型</th>
						<th width="12%">报价(万元)</th>
						<th width="13%">状态</th>
						<th width="20%">发布人</th>
						<th width="15%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<%- @newest_resouces.each do |post| %>
					<tr>
						<td><%= link_to post.model, post, class: 'name' %></td>
						<td><span class="price"><%= post.expect_price.to_f %></span></td>
						<td><%= post.standard_name + '现车' %></td>
						<td><%= post.user_company %></td>
						<td><%= link_to '浏览', user_list_posts_path(user_id: post.user_id, _type: 0) %><span class="sepLine">|</span><a href="#">下载</a></td>
						<td><%= post.publish_time %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="moreLink text-right"><a href="#">更多 >></a></div>
	</div>
</div>
