<div role="tabpanel" class="panel panel-default contentBox">
	<ul role="tablist" class="nav nav-tabs carInfoTabs">
		<li role="presentation" class="active"><a href="#allCarInfo"><%= t('post_info') %></a></li>
    <% @need_brands.each_with_index do |brand, i| %>
		  <li role="presentation"><a href="#carBrand<%= i + 1%>"><span class="icon"><%= image_tag(brand.car_photo.try(:image_path), alt: "")%></span><%= brand.name %></a></li>
	  <% end-%>
  </ul>

	<div class="panel-body">
		<div role="tabpanel" class="tab-pane active" id="allCarInfo">
			<ul class="carInfoList clearfix">
        <%- @needs.each do |post| %>
				<li>
					<div class="logo bfL"><%= image_tag(post.brand.car_photo.try(:image_path), alt: "") %></div>
					<div class="info">
						<h5 class="tt"><%= link_to post.need_title, post_path(post, {_type: 1}) %></h5>
						<p class="detail clearfix"><span class="bfL"><%= post.color %></span><span class="bfR"><%= post.owner_detail %></span></p>
					</div>
				</li>
				<% end -%>
			</ul>
		</div>

    <%- @posts_with_brands.each_with_index do |ele, index| %>
      <div role="tabpanel" class="tab-pane" id="carBrand<%= index+1 %>">
        <ul class="carInfoList clearfix">
          <% ele.last.each do |post| %>
            <li>
              <div class="logo bfL"><%= image_tag(post.brand.car_photo.try(:image_path), alt: "") %></div>
              <div class="info">
                <h5 class="tt"><%= link_to post.need_title, post_path(post, {_type: 1}) %></h5>
                <p class="clearfix"><span class="bfL"></span><%= post.color %><span class="bfR"><%= post.owner_detail %></span></p>
              </div>
            </li>
          <% end -%>
        </ul>
      </div>
    <% end %>

		<div class="moreLink text-right"><%= link_to '更多 >>', posts_path(_type: 1) %></div>
	</div>
</div>
