<div class="panel panel-default contentBox">
	<ul class="nav nav-tabs carInfoTabs">
		<li role="presentation" class="active"><a href="#"><%= I18n.t('post_info') %></a></li>
		<li role="presentation"><a href="#"><span class="icon"></span>宝马</a></li>
		<li role="presentation"><a href="#"><span class="icon"></span>奔驰</a></li>
		<li role="presentation"><a href="#"><span class="icon"></span>路虎</a></li>
		<li role="presentation"><a href="#"><span class="icon"></span>福特</a></li>
	</ul>
	<div class="panel-body">
		<ul class="carInfoList clearfix">
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
			<li>
				<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
				<div class="info">
					<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
					<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
				</div>
			</li>
		</ul>
		<div class="moreLink text-right"><a href="#">更多 >></a></div>
	</div>
</div>