<div role="tabpanel" class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('resources_list') %></h3>
	</div>
	<div class="panel-body">
		<div class="sourceTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="16%">发布人</th>
						<th width="12%">注册地</th>
						<th width="50%">涉及品牌</th>
						<th width="12%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<%- @user_ids.each do |u_id| %>
						<% user = @users.find_by_id(u_id) %>
						<tr>
							<td>
								<span><%= link_to user.heading_show, user_list_posts_path(user_id: user.id, _type: 0), class: 'name' %></span>
								<span class="tag"><%= image_tag(user.level_icon, alt: "", width: "40") if user.try(:is_show_icon?) %></span></td>
							<td><%= user.area_name %></td>
							<td><%= user.brands_ary %></td>
							<td>
								<%= link_to '浏览', user_list_posts_path(user_id: user.id, _type: 0) %>
								<span class="sepLine">|</span>
								<%= link_to '下载', download_posts_posts_path(user_id: user.id) %>
							</td>
							<td><%= user.posts.resources.order(updated_at: :desc).first.publish_time %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="moreLink text-right"><%= link_to '更多 >>', user_resources_list_posts_path %></div>
	</div>
</div>
