<div role="tabpanel" class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('resources_list') %></h3>
	</div>
	<div class="panel-body">
		<div class="sourceTab">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
				<thead>
					<tr>
						<th width="30%">发布人</th>
						<th width="10%">注册地</th>
						<th width="30%">涉及品牌</th>
						<th width="20%">资源表</th>
						<th width="10%">发布时间</th>
					</tr>
				</thead>
				<tbody>
					<%- @user_resources.each do |ele| %>
						<tr>
							<td><a href="#" class="name">上海宝钢公司</a></td>
							<td><%= ele[:area] %></td>
							<td><%= ele[:brands] %></td>
							<td><%= link_to '浏览', user_list_posts_path(user_id: ele[:user_id], _type: 0) %><span class="sepLine">|</span><a href="#">下载</a></td>
							<td><%= ele[:time] %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="moreLink text-right"><%= link_to '更多 >>', user_resources_list_posts_path %></div>
	</div>
</div>
