<% if current_user %>
<div class="panel panel-default contentBox bgf8">
	<div class="panel-body indexUser">
		<div class="userInfo clearfix">
			<div class="photo bfL"><a href="#"><%= image_tag  current_user.avatar, alt: "我的头像" -%></a></div>
			<div class="name">
				<h5><a href="#"><%= current_user.name %>(<%= current_user.area.try(:name) %>)</a></h5>
				<div class="clearfix"><span class="tag"><%= current_user.i_level%></span></div>
			</div>
		</div>
		<ul class="row userData">
			<li class="col-md-4">
				<p class="data"><a href="#"><%= @posts.count %></a></p>
				<p class="tt"><%= I18n.t('i_post')%></p>
			</li>
			<li class="col-md-4">
				<p class="data"><a href="#"><%= @tenders.count %></a></p>
				<p class="tt"><%= I18n.t('i_tender') %></p>
			</li>
			<li class="col-md-4 last">
				<p class="data"><a href="#"><%= @followings.count %></a></p>
				<p class="tt"><%= I18n.t('i_following') %></p>
			</li>
		</ul>
		<div class="userSubBtn">
			<button type="button" class="btn btn-default btn-block red"><span class="icon"></span><%= I18n.t('post') %></button>
			<button type="button" class="btn btn-default btn-block blue"><span class="icon"></span><%= I18n.t('resource') %></button>
		</div>
		<div class="userArr"></div>
	</div>
</div>
<% end %>

<% unless current_user %>
<div class="panel panel-default contentBox bgf8">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('login') %></h3>
	</div>
  <%= form_for(User.new, as: :user, url: session_path(:user), 
               html: {class: 'panel-body form-horizontal indexLogin'}) do |f| %>
		<div class="form-group">
			<%= f.text_field :mobile, class: "form-control input-sm", id: "", placeholder: "请输入手机号", value: cookies[:user_name] %>
		</div>
		<div class="form-group">
			<%= f.password_field :password, class: "form-control input-sm", id: "", placeholder: "请输入密码" %>
		</div>
		<div class="checkbox">
	    <label class="bfL">
	      <%= check_box_tag :remember_name %><%= t('remember_me')%>
	    </label>
	    <div class="forget bfR"><a href="#"><%= t('forget_pw') %></a></div>
	  </div>
	  <ul class="subGroup row">
	  	<li class="col-md-6">
	  		<input type="submit" class="btn btn-default w100p orange btn_spacing" value="登录" />
	  	</li>
	  	<li class="col-md-6">
	  		<button type="button" class="btn btn-default w100p btn_spacing" role="button" data-toggle="modal" data-target="#reg_step1">注册</button>
	  	</li>
	  </ul>
    <% end -%>
</div>
<% end -%>

<div class="panel panel-default contentBox bgf9">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title">官方APP</h3>
	</div>
	<div class="panel-body indexAppDL">
		<div class="appQR"><%= image_tag("index/app_qr.jpg", alt: "", width: "100%")%></div>
		<ul class="row appLink">
			<li class="col-md-6">
				<a class="btn btn-default p0" href="#" role="button"><span class="icon"></span>iPhone</a>
			</li>
			<li class="col-md-6">
				<a class="btn btn-default p0" href="#" role="button"><span class="icon"></span>Android</a>
			</li>
		</ul>
		<div class="tel clearfix">
			<div class="icon"></div>
			<div class="info">
				<p><%= t('server_photo') %></p>
				<p><strong>021-54843638</strong></p>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form class="carSearch">
			<input type="text" class="form-control input pr50" placeholder="品牌 车型 款式 指导价 …" />
			<input type="submit" class="btn btn-primary subBtn" value="搜索" />
		</form>
	</div>
</div>

<div class="panel panel-default contentBox">
	<div class="panel-heading lineTitle">
		<h3 class="panel-title"><%= t('select_brand') %></h3>
	</div>
	<div class="panel-body brandSelect">
    <div class="dropdown w100p">
      <button class="btn btn-default dropdown-toggle" type="button" id="car_brandMenu" data-toggle="dropdown" aria-expanded="true"><%= t('brand') %><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="car_brandMenu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">品牌1</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">品牌2</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">品牌3</a></li>
      </ul>
    </div>
    <input type="submit" class="btn btn-primary subBtn" value="提交">
	</div>
</div>
<div class="modal box bs-example-modal-sm" id="reg_step1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title lineTitle" id="">请您注册</h4>
      </div>
      <div class="modal-body">
	      <div class="buttonInput form-group">
					<input type="text" class="form-control input pr84" placeholder="请输入手机号" />
					<input type="button" class="btn btn-primary subBtn" value="获取验证码" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="请输入验证码" />
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default w100p orange">下一步</button>
      </div>
    </div>
  </div>
</div>
<div class="modal box bs-example-modal-sm" id="reg_step2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title lineTitle" id="">请您注册</h4>
      </div>
      <div class="modal-body">
				<div class="form-group">
					<input type="password" class="form-control" id="" placeholder="请设置密码" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="请输入姓名" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="请输入公司名称" />
				</div>
				<div class="form-group">
					<div class="dropdown w100p">
			      <button class="btn btn-default dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-expanded="true">注册省市<span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" role="menu" aria-labelledby="">
			        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
			        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
			        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
			        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			      </ul>
			    </div>
				</div>
				<div class="checkbox">
			    <input type="checkbox"><a href="#">用户协议</a>
			  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default w100p orange btn_spacing">完成</button>
      </div>
    </div>
  </div>
</div>
