<div class="container">
	<div class="row">
		<div class="col-md-9 mainBox">
			<div class="banner mb10"><a href="#" target="_blank"><%= image_tag("index/banner.jpg", alt: "", width: "100%")%></a></div>
			<%= render 'post_infos' %>
			<%= render 'hot_resources' %>
			<%= render 'newest_resources' %>
			<%= render 'resources' %>
		</div>
		<div class="col-md-3 mainRight">
			<%= render partial: current_user ? 'partials/right_mine' : 'partials/right_login' %>
			<%= render partial: 'partials/right_app_icon' %>
			<%= render partial: 'partials/right_search' %>
		</div>
	</div>
</div>

<%= content_for :footers do %>
  <%= javascript_include_tag 'portal', 'data-turbolinks-track' => true %>
<% end -%>
