<div class="container">
	<div class="row">
		<div class="col-md-9 mainBox">
			<div class="banner mb10"><img src="" width="100%" height="154" /></div>
			<div class="panel panel-default contentBox">
				<ul class="nav nav-tabs carInfoTabs">
					<li role="presentation" class="active"><a href="#">寻车信息</a></li>
					<li role="presentation"><a href="#"><span class="icon"></span>宝马</a></li>
					<li role="presentation"><a href="#"><span class="icon"></span>奔驰</a></li>
					<li role="presentation"><a href="#"><span class="icon"></span>路虎</a></li>
					<li role="presentation"><a href="#"><span class="icon"></span>福特</a></li>
				</ul>
				<div class="panel-body">
					<ul class="carInfoList clearfix">
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
						<li>
							<div class="logo bfL"><%= image_tag("index/car_logo1.jpg", alt: "")%></div>
							<div class="info">
								<h5 class="tt"><a href="#">寻中规路虎揽胜运动 3345 卖河南</a></h5>
								<p class="clearfix"><span class="bfL"></span>黑/白<span class="bfR">李木子(上海)  16:20</span></p>
							</div>
						</li>
					</ul>
					<div class="moreLink text-right"><a href="#">更多 >></a></div>
				</div>
			</div>
			<div class="panel panel-default contentBox bgf9">
				<div class="panel-heading lineTitle">
					<h3 class="panel-title">热门车源</h3>
				</div>
				<div class="panel-body">
					<ul class="row hotCar">
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="thumbnail box">
								<%= image_tag("index/hotCar.jpg", alt: "", width: "100%")%>
								<div class="caption intro">
									<h5 class="name"><a href="#">宝马 320Li 3968</a></h5>
									<p class="price">30.00万元</p>
									<p>上海宝钢公司</p>
								</div>
							</div>
						</li>
					</ul>
					<div class="moreLink text-right"><a href="#">更多 >></a></div>
				</div>
			</div>
			<div class="panel panel-default contentBox">
				<div class="panel-heading lineTitle">
					<h3 class="panel-title">最新车源</h3>
				</div>
				<div class="panel-body">
					<div class="newCarSelect">
						<div class="btn-group mr20">
							<button type="button" class="btn btn-default">公司</button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default">品牌</button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</div>
					<div class="indexListTab">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th width="30%">品牌/车型</th>
									<th width="12%">报价(万元)</th>
									<th width="13%">状态</th>
									<th width="20%">发布人</th>
									<th width="15%">资源表</th>
									<th width="10%">发布时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>路虎揽胜运动 3345</td>
									<td><span class="price">30.00</span></td>
									<td>中规现车</td>
									<td>上海宝钢公司</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="moreLink text-right"><a href="#">更多 >></a></div>
				</div>
			</div>
			<div class="panel panel-default contentBox">
				<ul class="nav nav-tabs carInfoTabs">
					<li role="presentation" class="active"><a href="#">资源表</a></li>
					<li role="presentation"><a href="#">公司</a></li>
					<li role="presentation"><a href="#">个人</a></li>
				</ul>
				<div class="panel-body">
					<div class="indexListTab">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th width="30%">发布人</th>
									<th width="10%">注册地</th>
									<th width="30%">涉及品牌</th>
									<th width="20%">资源表</th>
									<th width="10%">发布时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
								<tr>
									<td>上海宝钢公司</td>
									<td>上海</td>
									<td>宝马 奔驰 路虎 福特</td>
									<td><a href="#">浏览</a><span class="sepLine">|</span><a href="#">下载</a></td>
									<td>16:30</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="moreLink text-right"><a href="#">更多 >></a></div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mainRight">
			<div class="panel panel-default contentBox bgf8">
				<div class="panel-body indexUser">
					<div class="userInfo clearfix">
						<div class="photo bfL"><a href="#"><%= image_tag("index/user_photo.jpg", alt: "")%></a></div>
						<div class="name">
							<h5><a href="#">李木子(上海)</a></h5>
							<div class="clearfix"><span class="tag">个人</span></div>
						</div>
					</div>
					<ul class="row userData">
						<li class="col-md-4">
							<p class="data"><a href="#">8888</a></p>
							<p class="tt">我的寻车</p>
						</li>
						<li class="col-md-4">
							<p class="data"><a href="#">8888</a></p>
							<p class="tt">我的报价</p>
						</li>
						<li class="col-md-4 last">
							<p class="data"><a href="#">8888</a></p>
							<p class="tt">我的关注</p>
						</li>
					</ul>
					<div class="userSubBtn">
						<button type="button" class="btn btn-default btn-block red"><span class="icon"></span>发布寻车</button>
						<button type="button" class="btn btn-default btn-block blue"><span class="icon"></span>发布资源</button>
					</div>
					<div class="userArr"></div>
				</div>
			</div>
			<div class="panel panel-default contentBox bgf9">
				<div class="panel-heading lineTitle">
					<h3 class="panel-title">官方APP</h3>
				</div>
				<div class="panel-body indexAppDL">
					<div class="appQR"></div>
					<ul class="row appLink">
						<li class="col-md-6">
							<a class="btn btn-default" href="#" role="button">iPhone</a>
						</li>
						<li class="col-md-6">
							<a class="btn btn-default" href="#" role="button">Android</a>
						</li>
					</ul>
					<div class="tel clearfix">
						<div class="icon"></div>
						<div class="info">
							<p>欢迎拨打服务电话</p>
							<p><strong>021-54843638</strong></p>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default contentBox">
				<div class="panel-heading lineTitle">
					<h3 class="panel-title">一键找车</h3>
				</div>
				<div class="panel-body">
					<div class="indexSearch clearfix">
						<input type="text" class="form-control input bfL" placeholder="品牌 车型 款式 指导价 …" />
						<input type="submit" class="subBtn bfR" value="搜索" />
					</div>
				</div>
			</div>
			<div class="panel panel-default contentBox">
				<div class="panel-heading lineTitle">
					<h3 class="panel-title">品牌筛选</h3>
				</div>
				<div class="panel-body brandSelect">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">品牌<span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".indexListTab").find("tr:odd").addClass("trBg");
	});
</script>