.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 热门资源

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tr
          %th ID
          %th 资源ID
          %th 客户姓名
          %th 规格
          %th 品牌
          %th 车型
          %th 款式
          %th 颜色
          %th 状态
          %th{colspan: "2"} 发布时间
          / %th 操作
        - @hot_posts.each do |p|
          %tr
            %td= p.id
            %td= p.post_id
            %td= p.post.try(:user_name)
            %td= p.post.try(:standard_name)
            %td= p.post.try(:brand_name)
            %td= p.post.try(:car_model_name)
            %td= p.post.try(:base_car_style)
            %td= p.post.try(:color)
            %td= Post::RESOURCE_TYPE[p.post.try(:resource_type)]
            %td= p.post.try(:publish_time)
            %td
              / = link_to '置顶', update_sys_admin_post_path(post), method: :put
              / = link_to '关闭', admin_post_path(p.post),  method: :delete, data: {confirm: '确定删除？'}
      .text-danger 若下架且无资源替换时，请设置为0
      = form_tag params, action: "update_hot_posts", method: :get do
        .row
          -@hot_posts.each do |hp|
            .col-md-3.form-group
              = text_field_tag "post_ids[#{hp.id}]", hp.post_id, class: "form-control"
        .form-group.clearfix
          = submit_tag "提交", class: "btn btn-primary subBtn"

      - if @hot_posts.present?
        .hr-line-dashed


