.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 自定义的资源寻车列表

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tr
          %th ID
          %th 发布时间
          %th 业务员工号
          %th 客户姓名
          %th 类型
          %th 规格
          %th 品牌
          %th 车型
          %th 款式
          %th 颜色
          %th 操作
        - @posts.each do |post|
          %tr
            %td= post.id
            %td= post.created_at.to_s(:db)
            %td= post.user.customer_service.try(:job_number)
            %td= post.owner
            %td= Post::TYPES[post._type]
            %td= post.standard_name
            %td= post.brand_name
            %td= post.car_model_name
            %td= post.base_car_style
            %td= post.color
            %td
              = link_to '查看', post_path(post, _type: post._type), target: '_blank'
              = link_to '关闭', admin_post_path(post),  method: :delete, data: {confirm: '确定删除？'}

      - if @posts.present?
        .hr-line-dashed

      .text-center
        = paginate @posts


