.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 寻车列表

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tr
          %th ID
          %th 发布时间
          %th 业务员工号
          %th 客户姓名
          %th 注册方式
          %th 寻车详情
          %th 操作
        - @posts.each do |item|
          %tr
            %td= item.id
            %td= item.created_at.to_s(:db)
            %td 业务员工号
            %td= item.user.name
            %td
            %td= link_to '查看', post_path(item, _type: item._type), target: '_blank'
            %td= link_to '关闭/打开', ''

      - if @posts.present?
        .hr-line-dashed

      .text-center
        = paginate @posts


