<ul class="boardList">
  <% @post.comments.each do |comment| %>
  <li>
    <div class="photo bfL"><a href="#"><%= image_tag(comment.user.avatar, alt: "", size: '45x45')%></a></div>
    <div class="detail">
      <div class="info"><span class="name"><a href="#"><%= comment.user_name%>：</a></span><%= comment.content %></div>
      <div class="time"><a href="#new_comment" class="icon icon-message" data-name="<%= comment.user_name %>" data-parent-id="<%= comment.id %>"></a><%= human_time(comment.updated_at) %></div>

      <ul class="boardList" id="comment_<%= comment.id %>">
        <% unless comment.children_chain.empty? %>
        <%= render partial: 'sub_comment', locals: {sub_comms: comment.children_chain, comm_counts: comment.children_chain.size } -%>
        <% end -%>
      </ul>

    </div>
  </li>
  <% end -%>
</ul>
<%= form_for Comment.new, as: :comment, url: comments_path, method: :post, remote: true do |f| %>
<%= f.hidden_field :parent_id, value: nil %>
<%= f.hidden_field :resource_id, value: @post.id %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :resource_type, value: @post.class.to_s %>
<%= f.text_area :content, class: "form-control", placeHolder: '不能超过225个字' %>
<%= f.submit '留言', class: "btn btn-default btn-sm btn_spacing sub bfR", id: "" %>
<% end -%>
