<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">寻车详情</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">寻车详情<span class="date bfR">2015/3/12  16:30</span></h3>
        </div>
        <div class="panel-body sourceDetail">
          <div class="row">
            <div class="col-md-6 con">
              <h5 class="name">寻中规路虎揽胜运动 款式 3345</h5>
              <div class="info">
                <p>卖河南</p>
                <p>黑/白</p>
                <p>车辆所在区域要求：</p>
                <p>提车时间：</p>
              </div>
            </div>
            <div class="col-md-6 con">
              <div class="info">
                <p class="price"><i class="icon icon-money"></i>期望的成交价：<span class="num">37.68万</span></p>
                <p>指导价：39.68万/下2万</p>
                <div class="reportLink"><a href="#" data-toggle="modal" data-target="#myReport">我要举报</a></div>
              </div>
            </div>
          </div>
          <div class="remark">
            <div class="tt bfL">备注：</div>
            <div class="info">北京市公安局海淀分局网监中心备案编号：1101081535 |电信与信息服务业务经营许可证：京ICP证070240号|中国互联网协会会员单位。</div>
          </div>
          <div class="methodSelect quote row">
            <div class="tt clearfix">
              <h5 class="col-md-6">给他报价<span class="sm">(可不选，直接给他留言)</span></h5>
            </div>
            <form class="quoteForm">
              <div class="clearfix">
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios1" value="option1"><span>优惠点数</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">点数</div>
                  </label>
                </div>
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios2" value="option2"><span>优惠金额</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">万元</div>
                  </label>
                </div>
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios3" value="option3"><span>加价金额</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">万元</div>
                  </label>
                </div>
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios4" value="option4"><span>直接报价</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">万元</div>
                  </label>
                </div>
              </div>
              <div class="mt10">
                <input type="submit" class="btn btn-default btn_spacing btnW200 orange sub" id="" value="提交" />
                <span class="tips">注：提交后报价将不可更改</span>
              </div>
            </form>
          </div>
          <div class="boardForm clearfix">
            <h5 class="tt">留言</h5>
            <form>
              <textarea class="form-control"></textarea>
              <input type="submit" class="btn btn-default input-sm btn_spacing sub bfR" id="" value="留言" />
            </form>
          </div>
          <ul class="boardList">
            <li>
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <div class="info"><span class="name"><a href="#">罗塞：</a></span>提到“声擎”，大多数人还会觉得有点儿陌生。“声情……并茂？”恐怕是不少人冒出来的第一个念头。事实上，声擎是由 Dave Evans 和 Brady Bargenquast 创建于 2006 年的一个音响设备品牌，最初主要生产专业录音室定 ...提到“声擎”，大多数人还会觉得有点儿陌生。</div>
                <div class="time"><span class="icon icon-message"></span>16:30</div>
              </div>
            </li>
            <li>
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <div class="info"><span class="name"><a href="#">罗塞：</a></span>提到“声擎”，大多数人还会觉得有点儿陌生。“声情……并茂？”恐怕是不少人冒出来的第一个念头。事实上，声擎是由 Dave Evans 和 Brady Bargenquast 创建于 2006 年的一个音响设备品牌，最初主要生产专业录音室定 ...提到“声擎”，大多数人还会觉得有点儿陌生。</div>
                <div class="time"><span class="icon icon-message"></span>16:30</div>
              </div>
            </li>
            <li>
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <div class="info"><span class="name"><a href="#">罗塞：</a></span>提到“声擎”，大多数人还会觉得有点儿陌生。“声情……并茂？”恐怕是不少人冒出来的第一个念头。事实上，声擎是由 Dave Evans 和 Brady Bargenquast 创建于 2006 年的一个音响设备品牌，最初主要生产专业录音室定 ...提到“声擎”，大多数人还会觉得有点儿陌生。</div>
                <div class="time"><span class="icon icon-message"></span>16:30</div>
              </div>
            </li>
            <li>
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <div class="info"><span class="name"><a href="#">罗塞：</a></span>提到“声擎”，大多数人还会觉得有点儿陌生。“声情……并茂？”恐怕是不少人冒出来的第一个念头。事实上，声擎是由 Dave Evans 和 Brady Bargenquast 创建于 2006 年的一个音响设备品牌，最初主要生产专业录音室定 ...提到“声擎”，大多数人还会觉得有点儿陌生。</div>
                <div class="time"><span class="icon icon-message"></span>16:30</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <div class="panel panel-default contentBox bgf8">
        <div class="panel-body indexUser">
          <div class="userInfo clearfix">
            <div class="photo bfL"><a href="#"><%= image_tag("index/user_photo.jpg", alt: "")%></a></div>
            <div class="name">
              <h5><a href="#">李木子(上海)</a></h5>
              <div class="clearfix"><span class="tag"><%= image_tag("user/typeIcon_p.png", alt: "", width: "100%")%></span></div>
              <a class="btn btn-success btn-xs mt6" href="#" role="button"><span class="glyphicon glyphicon-plus"></span>加关注</a>
            </div>
          </div>
          <div class="userDetail">
            <p>自我评价：<span></span></p>
            <p>注册地：<span></span></p>
            <p><strong>最近三个月成交3台</strong></p>
            <p><strong>累计成交3台</strong></p>
            <p>公司名称：<span></span></p>
            <p>职位：<span></span></p>
            <p>微信：<span></span></p>
            <p>QQ：<span></span></p>
            <p>联系电话：<span>66668888</span></p>
          </div>
          <div class="userArr"><span class="icon icon-user"></span></div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">您关注的<a href="#" class="link">3</a>位好友也关注了他</h3>
        </div>
        <div class="panel-body">
          <ul class="followList">
            <li class="clearfix first">
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <h5 class="name"><a href="#">罗塞（上海）</a></h5>
                <p class="tel">手机：13456789087</p>
              </div>
            </li>
            <li class="clearfix">
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <h5 class="name"><a href="#">罗塞（上海）</a></h5>
                <p class="tel">手机：13456789087</p>
              </div>
            </li>
            <li class="clearfix">
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <h5 class="name"><a href="#">罗塞（上海）</a></h5>
                <p class="tel">手机：13456789087</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">他的资源<a href="#" class="more bfR">更多 >></a></h3>
        </div>
        <div class="panel-body">
          <ul class="carSourceHis">
            <li class="first">
              <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
              <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
            </li>
            <li>
              <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
              <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
            </li>
            <li>
              <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
              <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">他的寻车<a href="#" class="more bfR">更多 >></a></h3>
        </div>
        <div class="panel-body">
          <ul class="carSourceHis">
            <li class="first">
              <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
              <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
              <div class="seal seal_done_sm"></div>
            </li>
            <li>
              <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
              <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
            </li>
            <li>
              <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
              <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal box bs-example-modal-sm" id="myReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title lineTitle" id="">举报</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="radio-inline col-md-6">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">举报用户
            </label>
          </div>
          <div class="radio-inline col-md-6">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">举报车源
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="radio-inline col-md-6">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">举报寻车信息
            </label>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="输入详细内容"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="" class="btn btn-default w100p orange btn_spacing"data-dismiss="modal" aria-label="Close" >提交</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
$(".methodSelect > .form-group").find(".selectTag").click(function (e) {
  $(".selectInput").find("input.form-control").attr("disabled","true");
  $(this).next(".selectInput").find("input.form-control").removeAttr("disabled");
  $(".selectInput").removeClass("active");
  $(this).addClass("active").siblings().removeClass("active");
  $(this).next(".selectInput").addClass("active").focus();
});

$(".selectInput").find("input.form-control").keyup(function(){
  clearNoNum(this);
});

function clearNoNum(obj){
  obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
  obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
}
<% end -%>
