<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">寻车详情</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">寻车详情<span class="date bfR"><%= @post.updated_at.strftime('%Y/%m/%d %H:%M')%></span></h3>
        </div>
        <div class="panel-body sourceDetail">
          <div class="row">
            <div class="col-md-6 con">
              <h5 class="name"><%= post_name(@post)%></h5>
              <div class="info">
                <p><%= @post.app_area %></p>
                <p><%= @post.color %></p>
                <p>车辆所在区域要求：<%= @post.car_in_areas.join(',')%></p>
                <p>提车时间：<%= Post::TAKE_DATES[@post.take_car_date]%></p>
              </div>
            </div>
            <div class="col-md-6 con">
              <div class="info">
                <p class="price">期望的成交价：<span class="num"><%= @post.expect_price %>万</span></p>
                <p>指导价：<%= @post.guiding_price %>万/<%= @post.human_discount %></p>
                <div class="reportLink"><a href="#" data-toggle="modal" data-target="#myReport">我要举报</a></div>
              </div>
            </div>
          </div>
          <div class="remark">
            <div class="tt bfL">备注：</div>
            <div class="info"><%= @post.remark%></div>
          </div>
          <div class="methodSelect quote row">
            <div class="tt clearfix">
              <h5 class="col-md-6">给他报价<span class="sm">(可不选，直接给他留言)</span></h5>
            </div>
            <form class="quoteForm">
              <div class="clearfix">
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios1" value="option1"><span>优惠点数</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">点数</div>
                  </label>
                </div>
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios2" value="option2"><span>优惠金额</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">万元</div>
                  </label>
                </div>
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios3" value="option3"><span>加价金额</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">万元</div>
                  </label>
                </div>
                <div class="form-group form-inline col-md-6">
                  <label class="radio selectTag">
                    <input type="radio" name="methodRadios" id="methodRadios4" value="option4"><span>直接报价</span>
                  </label>
                  <label class="selectInput">
                    <input type="text" class="form-control input-sm" id="" placeholder="">
                    <div class="units">万元</div>
                  </label>
                </div>
              </div>
              <div class="mt10">
                <input type="submit" class="btn btn-default btn_spacing btnW200 orange sub" id="" value="提交" />
                <span class="tips">注：提交后报价将不可更改</span>
              </div>
            </form>
          </div>
          <% if current_user %>
            <div class="boardForm clearfix">
              <h5 class="tt">留言：</h5>
              <ul class="boardList">
                <% @post.comments.each do |comment| %>
                <li>
                  <div class="photo bfL"><a href="#"><%= image_tag(comment.user.avatar, alt: "", size: '45x45')%></a></div>
                  <div class="detail">
                    <div class="info"><span class="name"><a href="#"><%= comment.user_name%>：</a></span><%= comment.content %></div>
                    <div class="time"><a href="#new_comment" class="icon icon-message"></a><%= human_time(comment.updated_at) %></div>

                  </div>
                </li>
                <% end -%>
              </ul>
              <%= form_for Comment.new, as: :comment, url: comments_path, method: :post, remote: true do |f| %>
                <%= f.hidden_field :resource_id, value: @post.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :resource_type, value: @post.class.to_s %>
                <%= f.text_area :content, class: "form-control", placeHolder: '不能超过225个字' %>
                <%= f.submit '留言', class: "btn btn-default btn-sm btn_spacing sub bfR", id: "" %>
              <% end -%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <%= render partial: 'partials/right_user' %>
      <%- if current_user %>
        <%= render partial: 'partials/right_joint_followings' %>
      <% end %>
      <%= render partial: 'partials/right_his_resources' %>
      <%= render partial: 'partials/right_his_needs' %>
    </div>
  </div>
</div>
<% if current_user %>
  <%= render partial: 'complaints/complaint'%>
<% end -%>

<%= content_for :footers do %>
  <%= javascript_include_tag 'posts', 'data-turbolinks-track' => true %>
<% end -%>

<script type="text/javascript">
$(document).ready(function(){
  $(".icon-message").click(function(){
    $("#comment_content").focus();
    $("#comment_content").val("@" + user_name + content);
  });
});
</script>
