<div class="container">
  <ol class="breadcrumb">
    <li><a href=<%= root_path %>>首页</a></li>
    <li class="active">寻车详情</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title"><%= @title %><span class="date bfR"><%= @post.updated_at.strftime('%Y/%m/%d %H:%M')%></span></h3>
        </div>
        <div class="panel-body sourceDetail pb200">
          <div class="row">
            <div class="col-md-8 con">
              <h5 class="name"><%= @post.need_detail_title %></h5>
              <div class="info">
                <p><%= @post.app_area %></p>
                <p><%= @post.color %></p>
                <p>车辆所在区域要求：<%= @post.car_in_area %></p>
                <p>提车时间：<%= Post::TAKE_DATES[@post.take_car_date]%></p>
              </div>
            </div>
            <div class="col-md-4 con">
              <div class="info">
                <p class="price">期望的成交价：<span class="num"><%= @post.expect_price %>万</span></p>
                <p>指导价：<%= @post.guiding_price %>万/<%= @post.human_discount %></p>
                <div class="reportLink"><a href="#" data-toggle="modal" data-target="#myReport">我要举报</a></div>
                <%- if @post.is_completed? %><div class="seal"><%= image_tag("seal_done_sm.png", alt: "", width: "100%")%></div><% end %>
              </div>
            </div>
          </div>
          <div class="remark">
            <div class="tt bfL">备注：</div>
            <div class="info"><%= @post.remark%></div>
          </div>
          <%- if current_user && current_user.id != @post.user_id %>
            <%= render @tender || (current_user && @post.tenders.map(&:user_id).include?(current_user.id)) ? 'tender_info' : 'tender_form' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <%- if current_user && current_user == @someone %>
        <%= render partial: 'partials/right_mine', locals: {hidden_button: true} %>
        <%= render partial: 'partials/right_search' %>
      <% else %>
        <%= render partial: 'partials/right_user' %>
        <%= render partial: 'partials/right_joint_followings' if current_user %>
        <%= render partial: 'partials/right_his_resources' %>
        <%= render partial: 'partials/right_his_needs' %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'complaints/complaint' if current_user && current_user != @someone %>

<%= content_for :footers do %>
  <%= javascript_include_tag 'posts', 'data-turbolinks-track' => true %>
<% end -%>

<script type="text/javascript">
$(document).ready(function(){
  $(".icon-message").click(function(){
    var $name = $(this).attr('data-name');
    var $parent_id   = $(this).attr('data-parent-id');

    $("#comment_content").focus();
    $("#comment_content").val("@" + $name + ':');
    $('input#comment_parent_id').val($parent_id);
  });
});
</script>
