<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "首页", root_path %></li>
    <li class="active">资源详情</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">资源详情</h3>
        </div>
        <div class="panel-body sourceDetail">
          <div class="row">
            <div class="col-md-8 con">
              <h5 class="name"><%= @post.detail_title %></h5>
              <div class="info">
                <p><%= @post.standard_type %></p>
                <p><%= @post.color %></p>
                <p>更新时间：<%= @post.publish_time %></p>
              </div>
            </div>
            <div class="col-md-4 con">
              <div class="info">
                <p class="price"><span class="num"><%= @post.show_price %></span></p>
                <%- if @post.base_car.is_valid? && @post.base_car_base_price.to_f != 0.0 %>
                  <p>指导价：<%= @post.base_price %></p>
                <% end %>
                <div class="reportLink"><a href="javascript:;" class="modalBtn" data-toggle="modal" data-target="#myReport">我要举报</a></div>
              </div>
            </div>
          </div>
          <%- unless [nil, ''].include?(@post.remark) %>
            <div class="remark clearfix">
              <div class="tt bfL">备注：</div>
              <div class="info"><%= @post.remark %></div>
            </div>
          <% end %>
          <div id="showBanner" class="carousel slide sourceGallery" data-ride="carousel">
            <ul class="carousel-inner" role="listbox">
              <%- @post.photos_ary.each_with_index do |ele, i| %>
                <li class="<%= i== 0 ? 'item active' : 'item' %>"><%= image_tag(ele)%></li>
              <% end %>
            </ul>
            <ol class="carousel-indicators btns">
              <%- @post.photos_ary('thumb').each_with_index do |ele, i| %>
                <li data-target="#showBanner" data-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : ''%>"><%= image_tag(ele, width: "75", height: "50")%></li>
              <%end-%>
            </ol>
            <% unless @post.photos.empty? %>
              <a class="left carousel-control" href="#showBanner" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">上一张</span>
              </a>
              <a class="right carousel-control" href="#showBanner" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">下一张</span>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <%- if current_user == @someone %>
        <%= render partial: 'partials/right_mine', locals: {hidden_button: true} %>
        <%= render partial: 'partials/right_search' %>
      <% else %>
        <%= render partial: 'partials/right_user' %>
        <%= render partial: 'partials/right_joint_followings' %>
        <%= render partial: 'partials/right_his_resources' %>
        <%= render partial: 'partials/right_his_needs' %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'complaints/complaint' if current_user != @someone  %>
<%= content_for :footers do %>
  <%= javascript_include_tag 'posts', 'data-turbolinks-track' => true %>
<% end -%>
