<div class="panel panel-default contentBox">

  <div class="panel-heading lineTitle">
    <h3 class="panel-title"><%= @post.new_record? ? '代发资源' : '编辑代发资源' %></h3>
  </div>
  <div class="panel-body">
    <%- if @post.new_record? %>
        <%= form_tag(posts_path(user_id: @someone.id), method: :post, multipart: true, class: "form-horizontal sourceForm") do %>
            <%= render 'form_detail' %>
        <% end %>
    <% else %>
        <%= form_tag(post_path(@post, user_id: @someone.id), method: :put, multipart: true, class: "form-horizontal sourceForm") do %>
            <%= render 'form_detail' %>
        <% end %>
    <% end %></div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  $("#post_photo_front").uploadPreview({ Img: "post_front", Width: 140, Height: 94 });
  $("#post_photo_side").uploadPreview({ Img: "post_side", Width: 140, Height: 94 });
  $("#post_photo_obverse").uploadPreview({ Img: "post_obverse", Width: 140, Height: 94 });
  $("#post_photo_inner").uploadPreview({ Img: "post_inner", Width: 140, Height: 94 });
});
</script>
