<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "首页", root_path %></li>
    <li class="active">寻车信息</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">寻车信息筛选</h3>
        </div>
        <div class="panel-body souSelList">
          <div class="carList clearfix">
            <div class="tt">规格：</div>
            <div class="listBox">
              <ul class="list clearfix">
                <li><%= link_to '全部', needs_list_posts_path %></li>
                <%- @standards.each do |sd| %>
                  <li><%= link_to sd.name, needs_list_posts_path(st: sd.id) %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="carList clearfix">
            <div class="tt">品牌：</div>
            <div class="listBox">
              <ul class="list clearfix">
                <%- @brands.each do |br| %>
                  <li><%= link_to br.name, needs_list_posts_path(br: br.id) %></li>
                <% end %>
              </ul>
              <p class="txtR"><%= link_to '[更多]', needs_list_posts_path, class: 'moreLink' %></p>
            </div>
          </div>
          <div class="carList last clearfix">
            <div class="tt">车型：</div>
            <div class="listBox">
              <ul class="list clearfix">
                <%- @car_models.each do |cm|%>
                  <li><%= link_to cm.name, needs_list_posts_path(cm: cm.id) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">全部寻车（<%= @posts.total_count %>）</h3>
        </div>
        <div class="panel-body">
          <div class="sourceTab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <thead>
                <tr>
                  <th width="30%">品牌/车型</th>
                  <th width="10%">上牌地点</th>
                  <th width="26%">外观/内饰</th>
                  <th width="24%">发布人</th>
                  <th width="10%">发布时间</th>
                </tr>
              </thead>
              <tbody>
                <%- @posts.each do |post| %>
                  <tr>
                    <td><%= link_to post.title, post_path(post.id, _type: 1)%></td>
                    <td><%= post.car_license_area %></td>
                    <td><%= post.color %></td>
                    <td><%= post.owner %><span class="ml6"><%= image_tag(post.user.try(:level_icon), size: '40x16') if current_user.try(:is_show_icon?) %></span></td>
                    <td><%= post.publish_time %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="pageList">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <%= render partial: 'partials/right_mine', locals: {hidden_button: true} %>
      <%= render partial: 'partials/right_search' %>
    </div>
  </div>
</div>
