<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">市场资源</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">热门品牌/车型</h3>
        </div>
        <div class="panel-body souSelList">
          <div class="carList clearfix">
            <div class="tt">规格：</div>
            <div class="listBox">
              <ul class="list clearfix">
                <li><%= link_to '全部', resources_list_posts_path %></li>
                <%- @standards.each do |sd| %>
                  <li><%= link_to sd.name, resources_list_posts_path(standard_id: sd.id) %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="carList clearfix">
            <div class="tt">品牌：</div>
            <div class="listBox">
              <ul class="list clearfix">
                <%- @brands.each do |br| %>
                  <li><%= link_to br.name, resources_list_posts_path(brand_id: br.id) %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="carList last clearfix">
            <div class="tt">车型：</div>
            <div class="listBox">
              <ul class="list clearfix">
                <%- @car_models.each do |cm|%>
                  <li><%= link_to cm.name, resources_list_posts_path(car_model_id: cm.id) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">全部资源（<%= @posts.total_count %>）</h3>
        </div>
        <div class="panel-body">
          <div class="sourceTab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <thead>
                <tr>
                  <th width="30%">品牌/车型</th>
                  <th width="12%">报价(万元)</th>
                  <th width="18%">状态</th>
                  <th width="18%">发布人</th>
                  <th width="12%">资源表</th>
                  <th width="10%">发布时间</th>
                </tr>
              </thead>
              <tbody>
                <%- @posts.each do |post| %>
                  <tr>
                    <td><%= link_to post.car_model_name, post_path(post.id, _type: 0), class: 'name' %></td>
                    <td><span class="price"><%= post.expect_price.to_f %></span></td>
                    <td><%= post.standard_name + '现车' %></td>
                    <td><%= post.owner %>icon</td>
                    <td><%= link_to '浏览', user_list_posts_path(user_id: post.user_id, _type: 0) %><span class="sepLine">|</span><a href="#">下载</a></td>
                    <td><%= post.publish_time %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="pageList">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <%- if current_user %>
          <%= render partial: 'partials/right_mine', locals: {hidden_button: true} %>
      <% else %>
          <%= render partial: 'partials/right_login' %>
      <% end %>
      <%= render partial: 'partials/right_search' %>
      <%- if current_user %>
        <%= render partial: 'partials/right_history_list' %>
      <% end %>
    </div>
  </div>
</div>
