<div class="panel panel-default contentBox">
  <div class="panel-heading lineTitle">
    <h3 class="panel-title">全部资源（<%= @posts.total_count %>）</h3>
  </div>
  <div class="panel-body">
    <div class="mySourceOpe">
      <div class="btn-group">
        <select name="" class="form-control">
          <option value="排序方式">排序方式</option>
          <option value="order1">默认排序</option>
          <option value="order2">价格排序</option>
        </select>
      </div>
    </div>
    <div class="mySourceTab mt10">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
        <tbody>
        <%- @posts.each do |post| %>
            <tr>
              <td>
                <div class="box clearfix">
                  <div class="infoM">
                    <h5 class="name"><%= link_to post.base_car_to_human_name, post_path(post, {_type: 0}) %></a></h5>

                    <div class="info clearfix">
                      <div class="m"><%= post.st_rt %></div>
                      <div class="m"><%= post.outer_color %></div>
                      <div class="m">
                        <span class="tag"><%= image_tag(post.user_level_icon, alt: "", width: "100%") %></span><span><%= link_to post.owner, user_list_posts_path(user_id: post.user_id, _type: 0) %></span><span class="statu"><%= following?(post.user) %></span>
                      </div>
                    </div>
                  </div>
                  <div class="infoPrice">
                    <p><span class="price"><i class="icon icon-money"></i><%= post.expect_price.to_f %>
                      万</span><span class="time"><%= post.publish_time %></span></p>

                    <p>指导价：<%= post.guiding_price.to_f %>万/<%= post.human_discount %></p>
                  </div>
                </div>
                <div class="remark clearfix">
                  <div class="tt bfL">备注：</div>
                  <div class="info"><%= post.remark %></div>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="pageList">
    </div>
  </div>
</div>
