<div role="tabpanel" class="panel panel-default contentBox">
  <input class="hide" id="current_resource_list" value="<%= resources_list_posts_path %>">
  <div class="panel-heading lineTitle">
    <ul class="selectCrumb clearfix">
      <%- if @standard %>
        <li>
          <span class="name"><%= @standard.name %></span>
          <a href="<%= resources_list_posts_path %>" class="close" aria-label="Close">&times;<input class="hide" id="standard_id" value="<%= @standard.id %>"></a>
        </li>
      <% end %>
      <%- if @brand %>
        <li>
          <span class="name"><%= @brand.name %></span>
          <a href="<%= resources_list_posts_path(@q_json.reject{|k, v| %w(br cm bc ic oc rt).include?(k)}) %>" class="close" aria-label="Close">&times;<input class="hide" id="brand_id" value="<%= @brand.id %>"></a>
        </li>
      <% end %>
      <%- if @car_model %>
        <li>
          <span class="name"><%= @car_model.name %></span>
          <a href="<%= resources_list_posts_path(@q_json.reject{|k, v| %w(cm bc ic oc rt).include?(k)}) %>" class="close" aria-label="Close">&times;<input class="hide" id="car_model_id" value="<%= @car_model.id %>"></a>
        </li>
      <% end %>
      <%- if @base_car %>
        <li>
          <span class="name"><%= @base_car.style %></span>
          <a href="<%= resources_list_posts_path(@q_json.reject{|k, v| %w(bc ic oc rt).include?(k)}) %>" class="close" aria-label="Close">&times;<input class="hide" id="base_car_id" value="<%= @base_car.id %>"></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="panel-body souSelList">
    <%- unless @standard %>
    <div class="carList clearfix">
      <div class="tt">规格</div>
      <div class="listBox">
        <ul class="list clearfix" id='standards_list'>
          <% @standards.each do |std| %>
          <li><a href="<%= resources_list_posts_path(@q_json.merge(st: std.id)) %>"><%= std.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    <%- unless @brand %>
    <div class="carList clearfix">
      <div class="tt">品牌</div>
      <div class="listBox">
        <ul class="list clearfix">
          <% @brands.each do |brand| %>
          <li>
            <a href="<%= resources_list_posts_path(@q_json.merge(br: brand.id)) %>"><%= brand.name %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    <%- unless @car_model%>
    <div class="carList clearfix">
      <div class="tt">车型</div>
      <div class="listBox">
        <ul class="list clearfix">
          <% @car_models.each do |car_model| %>
          <li>
            <a href="<%= resources_list_posts_path(@q_json.merge(cm: car_model.id)) %>"><%= car_model.name %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    <%- unless @base_car %>
    <div class="carList clearfix">
      <div class="tt">车款</div>
      <div class="listBox">
        <ul class="list clearfix">
          <% @base_cars.each do |style| %>
          <li>
            <a href="<%= resources_list_posts_path(@q_json.merge(bc: style.id)) %>"><%= style.style %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    <%- if @standard && @brand && @car_model && @base_car %>
    <%= render 'child_search' %>
    <% end %>
  </div>
</div>
<% if @base_car %>
<%= render 'resources_list' %>
<% end %>
</div>
