<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">资源详情</a></li>
    <li class="active">他的寻车</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">他的寻车</h3>
        </div>
        <div class="panel-body">
          <div class="sourceTab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <thead>
                <tr>
                  <th width="40%">品牌/车型</th>
                  <th width="12%">上牌地点</th>
                  <th width="13%">外观/内饰</th>
                  <th width="25%">发布人</th>
                  <th width="10%">发布时间</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr class="done">
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a><span class="seal seal_done_part"></span></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="pagination pageList">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">…</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <div class="panel panel-default contentBox bgf8">
        <div class="panel-body indexUser">
          <div class="userInfo clearfix">
            <div class="photo bfL"><a href="#"><%= image_tag("index/user_photo.jpg", alt: "")%></a></div>
            <div class="name">
              <h5><a href="#">李木子(上海)</a></h5>
              <div class="clearfix"><span class="tag"><%= image_tag("user/typeIcon_p.png", alt: "", width: "100%")%></span></div>
              <a class="btn btn-success btn-xs mt6" href="#" role="button"><span class="glyphicon glyphicon-plus"></span>加关注</a>
            </div>
          </div>
          <div class="userDetail">
            <p>自我评价：<span></span></p>
            <p>注册地：<span></span></p>
            <p><strong>最近三个月成交3台</strong></p>
            <p><strong>累计成交3台</strong></p>
            <p>公司名称：<span></span></p>
            <p>职位：<span></span></p>
            <p>微信：<span></span></p>
            <p>QQ：<span></span></p>
            <p>联系电话：<span>66668888</span></p>
          </div>
          <div class="userArr"><span class="icon icon_user"></span></div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">您关注的<a href="#" class="link">3</a>位好友也关注了他</h3>
        </div>
        <div class="panel-body">
          <ul class="followList">
            <li class="clearfix first">
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <h5 class="name"><a href="#">罗塞（上海）</a></h5>
                <p class="tel">手机：13456789087</p>
              </div>
            </li>
            <li class="clearfix">
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <h5 class="name"><a href="#">罗塞（上海）</a></h5>
                <p class="tel">手机：13456789087</p>
              </div>
            </li>
            <li class="clearfix">
              <div class="photo bfL"><a href="#"><%= image_tag("_temp/followPhoto.jpg", alt: "")%></a></div>
              <div class="detail">
                <h5 class="name"><a href="#">罗塞（上海）</a></h5>
                <p class="tel">手机：13456789087</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">他的资源<a href="#" class="more bfR">更多 >></a></h3>
        </div>
        <div class="panel-body">
          <ul class="carSourceHis">
            <li class="first">
              <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
              <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
            </li>
            <li>
              <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
              <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
            </li>
            <li>
              <h5 class="name"><a href="#">路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="price bfL">37.68万</span><span class="bfR">中规/现车</span></div>
              <div class="info clearfix"><span class="bfL">黑/白</span><span class="bfR">16:30</span></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">他的寻车<a href="#" class="more bfR">更多 >></a></h3>
        </div>
        <div class="panel-body">
          <ul class="carSourceHis">
            <li class="first">
              <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
              <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
              <div class="seal seal_done_sm"></div>
            </li>
            <li>
              <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
              <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
            </li>
            <li>
              <h5 class="name"><a href="#">寻中规路虎揽胜运动 3345</a></h5>
              <div class="info clearfix"><span class="bfL mr20">卖河南</span><span class="bfL">黑/白</span></div>
              <div class="info clearfix"><span class="bfL">李木子(上海)</span><span class="bfR">16:30</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
