<div class="container">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">首页</a></li>
    <li><a href="#">资源详情</a></li>
    <li class="active">他的寻车</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">他的寻车</h3>
        </div>
        <div class="panel-body">
          <div class="sourceTab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <thead>
                <tr>
                  <th width="40%">品牌/车型</th>
                  <th width="12%">上牌地点</th>
                  <th width="13%">外观/内饰</th>
                  <th width="25%">发布人</th>
                  <th width="10%">发布时间</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr class="done">
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a><span class="seal seal_done_part"></span></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
                <tr>
                  <td><a href="#" class="name">寻中规路虎揽胜运动 3345</a></td>
                  <td>河南</td>
                  <td>黑/白</td>
                  <td>李木子(上海)icon</td>
                  <td>16:30</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pageList">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <%= render partial: 'partials/right_user' %>
      <%- if current_user %>
        <%= render partial: 'partials/right_joint_followings' %>
      <% end %>
      <%= render partial: 'partials/right_his_resources' %>
    </div>
  </div>
</div>
