<div class="container">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">首页</a></li>
    <li class="active">寻车列表</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div role="tabpanel" class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <ul class="selectCrumb clearfix">
            <li><span class="name"><%= @rs.standard.try(:name) %></span><span class="close" aria-label="Close">&times;</span></li>
            <li><span class="name"><%= @rs.brand.try(:name) %></span><span class="close" aria-label="Close">&times;</span></li>
            <li><span class="name"><%= @rs.car_model.try(:name) %></span><span class="close" aria-label="Close">&times;</span></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="carList clearfix">
            <div class="tt">规格</div>
            <div class="listBox">
              <ul class="list clearfix">
                <% @rs.all_standards.each do |std| %>
                  <li><a href=<%= needs_list_posts_path(standard_id: std.id) %>><%= std.name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="carList clearfix">
            <div class="tt">品牌</div>
            <div role="tabpanel" class="listBox toggle">
              <ul class="selectTag nav-tabs clearfix" role="tablist">
                <li role="presentation" class="active"><a href="#allBrand" aria-controls="allBrand" role="tab" data-toggle="tab">全部</a></li>
                <% @rs.brands_ordered_by_pinyin.keys.each do |letter| %>
                    <li role="presentation">
                      <a href=<%= "#brand_#{letter}" %> aria-controls=<%= "brand_#{letter}" %> role="tab" data-toggle="tab"><%= letter %></a></li>
                <% end %>

              </ul>
              <div class="tab-content">
                <ul role="tabpanel" class="list tab-pane active clearfix" id="allBrand">
                  <% @rs.all_brands.each do |brand| %>
                    <li><a href=<%= needs_list_posts_path(brand_id: brand.id) %>><%= brand.name %></a></li>
                  <% end %>
                </ul>

                <% @rs.brands_ordered_by_pinyin.each do |(letter, brands)| %>
                    <ul role="tabpanel" class="list tab-pane clearfix" id= <%="brand_#{letter}" %> >
                      <% brands.each do |brand| %>
                          <li><a href=<%= needs_list_posts_path(brand_id: brand.id) %>><%= brand.name %></a></li>
                      <% end %>
                    </ul>
                <% end %>

              </div>
              <div class="toggleBtn">[更多]</div>
            </div>
          </div>
          <div class="carList clearfix">
            <div class="tt">型号</div>
            <div class="listBox">
              <ul class="list clearfix">
                <% @rs.all_car_models.each do |car_model| %>
                  <li><a href=<%= needs_list_posts_path(car_model_id: car_model.id) %>><%= car_model.name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">全部寻车（<%= @needs.count %>）</h3>
        </div>
        <div class="panel-body">
          <div class="mySourceOpe">
            <div class="btn-group">
              <select name="" class="form-control">
                <option value="排序方式">排序方式</option>
                <option value="order1">默认排序</option>
                <option value="order2">价格排序</option>
              </select>
            </div>
          </div>
          <div class="mySourceTab mt10">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <tbody>
              <% @needs.each do |post| %>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><%= link_to post.title, post_path(post, _type: 1) %></a></h5>
                        <div class="info clearfix">
                          <div class="m"><%= post.color %></div>
                          <div class="m"><span class="tag"><%= image_tag(post.user_level_icon, alt: "", width: "100%") if current_user.try(:is_show_icon?)%></span><span><a href="#"><%= post.owner %></a></span><span class="statu"><%=following?(post.user)%></span></div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><%= post.expect_price.to_f %>万</span><span class="time"><%= post.publish_time %></span></p>
                        <p>指导价：<%= post.base_price %></p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"><%= post.remark %></div>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="pageList">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">

      <%- if current_user %>
          <%= render partial: 'partials/right_mine', locals: {hidden_button: false} %>
      <% else %>
          <%= render partial: 'partials/right_login' %>
      <% end %>
      <%= render 'partials/right_search' %>
      <%- if current_user %>
        <%= render 'partials/right_history_list' %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(".carList > .listBox").find(".toggleBtn").click(function(){
    if ($(this).hasClass("active")){
      $(this).removeClass("active").html("[更多]");
      $(this).parents(".listBox").removeClass("current");
    }
    else {
      $(this).addClass("active");
      $(this).html("[收起]");
      $(this).parents(".listBox").addClass("current");
    }
  });

  $(".selectCrumb li .name").each(function(){
    if($(this).text()==""){
      $(this).parent().hide();
    }
  })
});
</script>
