<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">品牌筛选</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div role="tabpanel" class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <ul class="selectCrumb clearfix">
            <li><%= @brand.name %><span class="close" aria-label="Close">&times;</span></li>
          </ul>
        </div>
        <div class="panel-body souSelList">
          <% @standards.each do |std| %>
            <div class="carList clearfix">
              <div class="tt"><%= std.name %></div>
              <div class="listBox">
                <ul class="list clearfix">
                  <% std.car_models.with_brand(@brand).each do |car_model|%>
                    <li><a href=<%= resources_list_posts_path(model_id: car_model.id) %> ><%= car_model.name %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">全部资源（<%= @resources.count %>）</h3>
        </div>
        <div class="panel-body">
          <div class="mySourceOpe">
            <div class="btn-group">
              <select name="" class="form-control">
                <option value="排序方式">排序方式</option>
                <option value="order1">默认排序</option>
                <option value="order2">价格排序</option>
              </select>
            </div>
          </div>
          <div class="mySourceTab mt10">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <tbody>
              <% @resources.each do |post| %>
                <tr>
                  <td>
                    <div class="box clearfix">
                      <div class="infoM">
                        <h5 class="name"><a href="#"><%= post.base_car_to_human_name %></a></h5>
                        <div class="info clearfix">
                          <div class="m">中规/现车</div>
                          <div class="m"><%= post.outer_color %></div>
                          <div class="m"><span class="tag"><%= image_tag(post.user_level_icon, alt: "", width: "100%")%></span><span><a href="#"><%= post.owner %></a></span><span class="statu"><%=following?(post.user)%></span></div>
                        </div>
                      </div>
                      <div class="infoPrice">
                        <p><span class="price"><i class="icon icon-money"></i><%= post.expect_price.to_f %>万</span><span class="time"><%= post.publish_time %></span></p>
                        <p>指导价：<%= post.guiding_price.to_f%>万/<%= post.human_discount  %></p>
                      </div>
                    </div>
                    <div class="remark clearfix">
                      <div class="tt bfL">备注：</div>
                      <div class="info"><%= post.remark %></div>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="pageList">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">

      <%- if current_user %>
          <%= render partial: 'partials/right_mine', locals: {hidden_button: false} %>
      <% else %>
          <%= render partial: 'partials/right_login' %>
      <% end %>
      <%= render 'partials/right_search' %>
      <%- if current_user %>
        <%= render 'partials/right_history_list' %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  var winUrl = window.location.search;
  $(".souSelList").find(".list > li >a").click(function(){
    alert($.getUrlParam("model_id"));
    $(this).addClass("current").siblings().removeClass("current");
  });
});

(function($){
  $.getUrlParam = function(name){
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r!=null) return unescape(r[2]); return null;
  }
})(jQuery);
</script>
