<div class="container">
  <ol class="breadcrumb">
    <li><a href="<%= root_path %>">首页</a></li>
    <li class="active">资源表</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9 mainBox">
      <div class="panel panel-default contentBox">
        <div class="panel-heading lineTitle">
          <h3 class="panel-title">资源表</h3>
        </div>
        <div class="panel-body">
          <div class="sourceTab">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
              <thead>
                <tr>
                  <th width="30%">发布人</th>
                  <th width="10%">注册地</th>
                  <th width="30%">涉及品牌</th>
                  <th width="20%">资源表</th>
                  <th width="10%">发布时间</th>
                </tr>
              </thead>
              <tbody>
                <%- @users.each do |user| %>
                  <tr>
                    <td><%= user.heading_show %></td>
                    <td><%= user.area_name %></td>
                    <td><%= user.brands_ary %></td>
                    <td>
                      <%= link_to '浏览', user_list_posts_path(user_id: user.id, _type: 0) %>
                      <span class="sepLine">|</span>
                      <%= link_to '下载', download_posts_posts_path(user_id: user.id) %>
                    </td>
                    <td><%= user.posts.resources.order(updated_at: :desc).first.publish_time %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="pageList">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mainRight">
      <%- if current_user %>
        <%= render partial: 'partials/right_mine', locals: {hidden_button: true} %>
      <% else %>
        <%= render 'partials/right_login' %>
      <% end %>
      <%= render partial: 'partials/right_search' %>
    </div>
  </div>
</div>
