.hr-line-dashed
.search-result
  - if @mobile_log.new_record?
    = link_to '我来联系', contact_admin_users_path(mobile: @mobile_log.mobile), method: :post, class: 'btn btn-warning'
  - else
    - if @mobile_log.is_register
      = "已注册，用户名为#{@mobile_log.user.name}"
    - elsif @mobile_log.contacted?
      = "已由#{@mobile_log.sender.job_number}已联系"

