= form_for(@user, url: @user.new_record? ? admin_users_path : admin_user_path) do |f|
  .form-group.clearfix
    = f.label '姓名'
    = f.text_field :name, class: "form-control"
  .form-group.clearfix
    = f.label '手机号'
    = f.text_field :mobile, class: "form-control"
  .form-group.clearfix
    = f.label '工号'
    = f.text_field :job_number, class: "form-control"
  / .form-group.clearfix
  /   = f.label '密码'
  /   = f.password_field :password, class: "form-control"
  .form-group.clearfix
    = f.label '注册地'
    = select_tag 'province', options_for_select(areas(level: :provinces)), id: 'province', class: "form-control", prompt: '请选择省份'
    = f.select :area_id, options_for_select([[@user.area.try(:name), @user.area.try(:id)]], selected: @user.area_id), {prompt: '请选择城市'}, {id: 'city', class: "form-control"}
  .form-group.clearfix
    = f.label '公司'
    = f.text_field :company, class: "form-control"

  = f.fields_for :contact do |c_f|
    .form-group.clearfix
      = c_f.label '微信'
      = c_f.text_field :wx, class: "form-control", value: @user.contact['wx']
    .form-group.clearfix
      = c_f.label 'QQ'
      = c_f.text_field :qq, class: "form-control", value: @user.contact['qq']
    .form-group.clearfix
      = c_f.label '电话'
      = c_f.text_field :phone, class: "form-control", value: @user.contact['phone']
    .form-group.clearfix
      = c_f.label '公司地址'
      = c_f.text_field :company_address, class: "form-control", value: @user.contact['company_address']
    .form-group.clearfix
      = c_f.label '公司邮箱'
      = c_f.text_field :company_email, class: "form-control", value: @user.contact['company_email']
    .form-group.clearfix
      = c_f.label '公司网站'
      = c_f.text_field :web_site, class: "form-control", value: @user.contact['web_site']
    .form-group.clearfix
      = c_f.label '备注'
      = c_f.text_area :remark, class: "form-control w100p", row: "4", value: @user.contact['remark']

  .form-group.clearfix
    = f.label '分配角色'
    = f.select :role, Staff::ROLES[0, 2], prompt: true

  = f.hidden_field :mask, value: @user.mask
  = f.hidden_field :status, value: 1
  = f.hidden_field :password, value: '123456' if @user.new_record?
  .form-group.clearfix
    = f.submit class: "btn btn-default subBtn"

= javascript_include_tag "edit_user"
