.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 已联系未注册名录

.wrapper.wrapper-content.animated.fadeInRight

  .ibox.float-e-margins
    .ibox-content
      .row
        .col-lg-12
          %table.table.table-striped
            %tr
              %th 序号
              %th 业务员工号
              %th 手机号
              %th 首次联系时间
              %th 备注
              - if admin? || super_admin?
                %th 操作
            - @mobiles.each do |ele|
              %tr
                %td= ele.id
                %td= ele.sender.job_number
                %td= ele.mobile
                %td= ele.created_at.strftime("%Y-%m-%d %H:%M")
                %td
                  %form{action: update_remark_admin_user_path(ele), method: 'patch'}
                    %textarea{type: 'text', class: 'remarkInput bfL', name: 'remark'}
                      = ele.remark
                    %input{type: 'submit', class: 'btn btn-primary btn-xs bfL remarkSub'}
                - if admin? || super_admin?
                  %td= link_to '代注册', new_admin_user_path('user[mobile]' => ele.mobile, 'user[customer_service_id]' => ele.sender.id)
        .col-lg-6
          %table.table.table-responsive
            %tr
              %th{ style: 'width: 100px;'} 今日新增数
              %td= @show_datas[0]
            %tr
              %th 本月新增数
              %td= @show_datas[1]
            %tr
              %th 累计新增数
              %td= @show_datas[2]

        .col-lg-12
          - if @mobiles.present?
            .hr-line-dashed

          .text-center
            = paginate @mobiles

:javascript
  $(document).ready(function(){
    $('.remarkInput').focus(function(){
      $(this).addClass('active');
      $(this).next('.remarkSub').show();
    });
    $('.remarkInput').blur(function(){
      $(this).removeClass('active');
    });
  });
