.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 用户列表

.wrapper.wrapper-content.animated.fadeInRight

  .ibox.float-e-margins
    .ibox-content
      .row
        .col-lg-12.searchTag
          = form_tag params, method: :get, remote: true, class: 'form-horizontal' do
            .col-md-6
              = text_field_tag :mobile, @mobile||nil, type: 'mobile', class: 'form-control input-lg', placeholder: '输入手机号码'
            .col-md-4
              = select_tag(:method_id, options_for_select([["等级", "等级"], ["等级", "等级"]]), class: "form-control input-lg", prompt: "请选择等级")
            .col-md-2
              %button.btn.btn-lg.btn-primary{ type: 'submit'} 查询
        .col-lg-12
          %table.table.table-striped
            %tr
              %th 序号
              %th 业务员工号
              %th 姓名
              %th 联系电话
              %th{ style: 'width: 120px;'} 公司名称
              %th 认证等级
              %th 注册日期
              %th 最后一次登录时间
              %th 成交记录
              %th 操作
            - @users.each do |user|
              %tr
                %td= user.id
                %td= user.customer_service.try(:job_number)
                %td
                  = link_to user.name, user_list_posts_path(user_id: user.id, _type: 0), target: '_blank'
                %td= user.mobile
                %td= user.company
                %td= User::LEVELS[user.level]
                %td= user.created_at.strftime("%Y-%m-%d %H:%M")
                %td= user.last_sign_in_at.strftime("%Y-%m-%d %H:%M") if user.last_sign_in_at
                %td= user.dealt_infos
                %td
                  = link_to '修改', edit_admin_user_path(user)
                  = link_to '修改角色', edit_staff_admin_user_path(user)

        .col-lg-12
          - if @users.present?
            .hr-line-dashed

          .text-center
            = paginate @users
