.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 已注册用户名录

.wrapper.wrapper-content.animated.fadeInRight

  .ibox.float-e-margins
    .ibox-content
      .row
        .col-lg-12.searchTag
          = form_tag params, action: 'registered', method: :get, class: 'form-horizontal' do
            .col-md-5
              = text_field_tag :mobile, params[:mobile], type: 'mobile', class: 'form-control input-lg', placeholder: '输入手机号码'
              
            .col-md-2
              = select_tag :sort_way, options_for_select([['默认排序', 'created_at'], ['按最后登录时间排序', 'last_sign_in_at']], selected: @sort_way), class: 'form-control input-lg' 
            .col-md-2
              %button.btn.btn-lg.btn-primary{ type: 'submit'} 查询
      
      .row
        .col-lg-12
          %table.table.table-striped
            %tr
              %th 序号
              %th 业务员工号
              %th 姓名
              %th 联系电话
              %th{ style: 'width: 120px;'} 公司名称
              %th 认证等级
              %th 注册日期
              %th 最后登录时间
              %th 备注
              %th 成交记录
              - if admin? || super_admin?
                %th 操作
            - @users.each do |user|
              %tr
                %td= user.id
                %td= user.customer_service.try(:job_number)
                %td
                  = link_to user.name, user_list_posts_path(user_id: user.id, _type: 0), target: '_blank'
                %td= user.mobile
                %td= user.company
                %td= User::LEVELS[user.level]
                %td= user.created_at.strftime("%Y-%m-%d %H:%M")
                %td= user.last_sign_in_at.strftime("%Y-%m-%d %H:%M") if user.last_sign_in_at
                %td 
                  %form{action: update_user_remark_admin_user_path(user), method: 'get'}
                    %textarea{type: 'text', class: 'remarkInput bfL', name: 'remark'}
                      = user.contact['remark']
                    %input{type: 'submit', class: 'btn btn-primary btn-xs bfL remarkSub'}
                    
                %td= user.dealt_infos
                - if admin? || super_admin?
                  %td
                    = link_to '修改', edit_admin_user_path(user)
                    = link_to '代发资源', user_list_posts_path(user_id: user.id, _type: 0), target: '_blank'
                    = link_to '代发寻车', user_list_posts_path(user_id: user.id, _type: 1), target: '_blank'

        .col-lg-4
          %table.table.table-responsive
            %tr
              %th{ style: 'width: 150px;'} 今日新增用户数
              %td= @show_datas[0]
            %tr
              %th 本月新增用户数
              %td= @show_datas[1]
            %tr
              %th 累计用户数
              %td= @show_datas[2]
        .col-lg-12
          - if @users.present?
            .hr-line-dashed

          .text-center
            = paginate @users
:javascript
  $(document).ready(function(){
    $('.remarkInput').focus(function(){
      $(this).addClass('active');
      $(this).next('.remarkSub').show();
    });
    $('.remarkInput').blur(function(){
      $(this).removeClass('active');
    });
  });            
