.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 内部员工列表

.wrapper.wrapper-content.animated.fadeInRight
  = link_to '新建员工', new_admin_user_path(mask: 'Staff')
  .ibox.float-e-margins
    .ibox-content
      .row
        .col-lg-12
          %table.table.table-striped.listTable
            %tr
              %th 序号
              %th 工号
              %th 角色
              %th 姓名
              %th 联系电话
              %th 状态
              %th 操作
            - @staffs.each do |staff|
              %tr
                %td= staff.id
                %td= staff.job_number
                %td
                  = form_for '' do |f|
                    .row.tabSelect
                      .col-sm-8
                        = select_tag(:name, options_for_select([["1", "1"], ["2", "2"]]), class: "form-control input-sm", prompt: staff.role)
                      .col-sm-4
                        = f.submit:'确认', class: 'btn btn-primary btn-sm'
                %td= staff.name
                %td= staff.mobile
                %td= staff.is_valid ? '正常' : '已关闭'
                %td
                  = link_to '修改', edit_admin_user_path(staff)
                  - if staff != current_user
                    - if staff.is_valid
                      = link_to '关闭', update_status_admin_user_path(staff, status: -1)
                    - else
                      = link_to '恢复', update_status_admin_user_path(staff, status: 1)

        .col-lg-12
          - if @staffs.present?
            .hr-line-dashed

          .text-center
            = paginate @staffs
