.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2
      Helpers
      = link_to '创建新的帮助文件', new_admin_helper_path, class: 'btn btn-sm btn-primary'

  .wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tr
          %th ID
          %th 标题
          %th 编辑
          %th 删除
        - @helpers.each do |item|
          %tr
            %td= item.id
            %td= item.title
            %td
              = link_to '编辑', edit_admin_helper_path(item)
              &nbsp;&nbsp;
            %td
              = link_to '删除', admin_helper_path(item), method: :delete, data: { confirm: '确认删除？' }
              &nbsp;&nbsp;

      - if @helpers.present?
        .hr-line-dashed

      .text-center
        = paginate @helpers
