<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= @title || I18n.t('default_title') -%></title>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<% if !flash.empty? %>
  <div class="alertTips">
    <h5 class="tt"></h5>
    <div class="info">
      <%= flash[:notice] || flash[:error] %>
    </div>
  </div>
  <% flash.clear %>
<% end -%>

<%= render partial: 'partials/nav' %>
<%= yield %>
<%= render partial: 'partials/footer' %>
<%= yield :footers %>

<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'basic', 'data-turbolinks-track' => true %>
</body>
</html>
